build
_build
.vscode
.DS_Store
test
node_modules
.eslintrc
package-lock.json
package.json
source/_static/css/style.min.css
source/_static/css/wazuh-icons.min.css
source/_static/js/style.min.js
source/_static/js/version-selector.min.js
source/_static/js/redirects.min.js
source/_static/js/redoc.min.js