build
_build
.vscode
.DS_Store
test
node_modules
__pycache__
.eslintrc
package.json
package-lock.json
!source/_exts/wazuh-doc-images/package.json
!source/_exts/wazuh-doc-images/package-lock.json
!source/_themes/wazuh_doc_theme_v3/package.json
!source/_themes/wazuh_doc_theme_v3/package-lock.json
!source/_themes/wazuh_doc_theme_v3/src/js-source/libs/bootstrap/package.json
source/_themes/wazuh_doc_theme/static/css/dist/*.min.css
source/_themes/wazuh_doc_theme/static/js/dist/*.min.js
source/_themes/wazuh_doc_theme_v3/src/css/*.css
source/_themes/wazuh_doc_theme_v3/src/css/*.css.map
source/_themes/wazuh_doc_theme_v3/src/js/*.js
source/_themes/wazuh_doc_theme_v3/src/js/*.js.map
source/_themes/wazuh_doc_theme_v3/static/css/min/*.css.map
source/_themes/wazuh_doc_theme_v3/static/js/min/*.js.map
source/_themes/wazuh_doc_theme_v3/static/js/min/redirects.min.js
source/_static/css/*.min.css
source/_static/js/*.min.js