.wazuh-light-box-overlay {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 100;
}

.wazuh-image {
  cursor: pointer;
}

#wazuh-light-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  margin: 0 auto;
}

#wazuh-light-box * {
	box-sizing: content-box;
}

#wazuh-light-box-overlay,
#wazuh-light-box {
  opacity: 0;
  display: none;
  flex-grow: 1; 
  flex-shrink: 1;
  flex-basis: 100%;
  transition: opacity 0.3s;
}

#wazuh-light-box-overlay.wlb-showing,
#wazuh-light-box.wlb-showing {
  display: flex;
}

#wazuh-light-box-overlay.wlb-visible,
#wazuh-light-box.wlb-visible {
  opacity: 1;
  display: flex;
  transition: opacity 0.3s;
}

#wazuh-light-box .read-only {
    color: rgba(0,0,0,0);
    height: 0;
    width: 0;
    overflow: hidden;
    display: block;
}

#wazuh-light-box .wazuh-light-box-slides-container {
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

#wazuh-light-box .wazuh-light-box-slide {
  z-index: 101;
  opacity: 0;
  position: fixed;
  display: block;
  padding: 20px;
  overflow: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
}

#wazuh-light-box .wazuh-light-box-slide.active {
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: auto;
}

#wazuh-light-box .wlb-loading {
  background-color: #fff;
  background-image: url(img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
  min-height: 50px;
  min-width: 50px;
  margin-bottom: 40px;
}

#wazuh-light-box .wlb-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 4px;  
}

#wazuh-light-box .wlb-image {
  max-width: calc(100vw - 50px);
  max-height: calc(100vh - 6rem);
  height: auto;
  margin: 0 auto;
  display: block;
  background: white;
  min-width: 50px;
  min-height: 50px;
}

#wazuh-light-box .wlb-data-container {
  display: block;
  height: 40px;
}

#wazuh-light-box .wlb-title-container {
  font-size: 14px;
  color: #ccc;
  padding-top: 3px;
}

#wazuh-light-box .wlb-number-container {
  font-size: 12px;
  color: #999;
  padding-top: 3px;
}

#wazuh-light-box .wlb-close-button {
  z-index: 110;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url(img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  overflow: hidden;
  transition: opacity 0.2s;
  padding-left: 30px;
  padding-right: 0;
  cursor: pointer;
  pointer-events: all;
  border: none;
	-webkit-user-select: none;
}

#wazuh-light-box .wlb-close-button:hover,
#wazuh-light-box .wlb-close-button:focus {
  opacity: 1;
  transition: opacity 0.2s;
}

#wazuh-light-box .wlb-prev-button {
  z-index: 110;
  position: absolute;
  top: 0;
  left: 0;
  width: 34%;
  height: 100%;
  background: url(img/prev.png) top right no-repeat;
  background-position: left center;
  outline: none;
  opacity: 0;
  cursor: pointer;
  pointer-events: all;
  border: none;
  transition: opacity 0.6s;
}

#wazuh-light-box .wlb-prev-button:hover,
#wazuh-light-box .wlb-prev-button:focus {
  opacity: 0.7;
  transition: opacity 0.6s;
}

#wazuh-light-box .wlb-next-button {
  z-index: 110;
  position: absolute;
  top: 0;
  right: 0;
  width: 66%;
  height: 100%;
  background: url(img/next.png) top right no-repeat;
  background-position: right center;
  outline: none;
  opacity: 0;
  cursor: pointer;
  pointer-events: all;
  border: none;
  transition: opacity 0.6s;
}

#wazuh-light-box .wlb-next-button:hover,
#wazuh-light-box .wlb-next-button:focus {
  opacity: 0.7;
  transition: opacity 0.6s;
}

#wazuh-light-box .wlb-prev-button,
#wazuh-light-box .wlb-next-button {
  display: none;
	-webkit-user-select: none;
}

#wazuh-light-box .wazuh-light-box-slide.active .wlb-prev-button,
#wazuh-light-box .wazuh-light-box-slide.active .wlb-next-button {
  display: block;
}

