{#
    wazuh_doc_theme_v3/not-found.html
    ~~~~~~~~~~~~~~~~~
-#}

{%- extends "!wazuh_doc_theme_v3/template-parts/body.html" -%}

{% block body %}
{{ super() }}
{% endblock %}

{%- block main_column -%}
<div id="central-column">
  {%- block latest %}
    {%- set nav_version = version %}
    {% if current_version %}
      {%- set nav_version = current_version %}
    {% endif %}
    {% if nav_version and not is_latest_release %}
    <div class="no-latest-notice-wrapper">
      <div class="no-latest-notice">
        <div class="no-latest-icon-wrapper"><i class="fas fa-exclamation-triangle"></i></div>
        <div class="no-latest-text-wrapper"><span class="font-weight-bold d-none d-sm-inline-block">Warning:</span> This is the documentation for Wazuh {{ nav_version }}. Check out the docs for <a class="link-latest" href="#">the latest version of Wazuh</a>!</div>
      </div>
    </div>
    {% endif %}
  {% endblock latest %}
  
  {# Main content #}
  <main role="main">
    <div class="error-background"></div>
    <div class="error-message">
      <h1>Oops! Something went wrong.</h1>
      <p>The page you requested could not be found.</p>
      <a class="btn" href="{{ pathto(master_doc) }}">Return home</a>
    </div>

  </main>
</div>
{%- endblock main_column -%}
