{#
    wazuh_doc_theme_v3/page.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    Content template to show the index content or the regular page content templates depending on the page name.

-#}

{% set api_pages = [
  'cloud-service/apis/reference',
  'user-manual/api/reference'
] %}

{%- if pagename == 'index' and theme_breadcrumb_root_title == 'Documentation' -%}
  {%- include 'index.html' -%}
{%- else -%}
  {% if version >= '4.0' and pagename in api_pages and builder is not 'simplepdf' %}
    {# Redoc template #}
    {% if pagename == 'user-manual/api/reference' %}
      {% include "api-redoc.html" %}
    {% endif %}
    {% if pagename == 'cloud-service/apis/reference' %}
      {% include "cloud-api-redoc.html" %}
    {% endif %}
  {%- else -%}
    {%- include 'template-parts/body.html' -%}
  {% endif -%}
{% endif -%}