/* -----------------------------------------------------------------------------
  API reference pages (using ReDoc)
----------------------------------------------------------------------------- */

@import "../inc/variables";
@import "../inc/mixins";
@import "../inc/root";
@import "../inc/content";

@import "../components/brand";
@import "../components/version-selector";
@import "../components/mode-switch";
@import "../components/back-to-top";

// Variables used only for ReDoc
$light-color-redoc-type: #757575 !default;
$light-color-redoc-type-border: #b4b4b4 !default;
$light-color-redoc-code-background: #f6f6f6 !default;
$dark-color-redoc-base-space: $dark-color-base-space;
$dark-color-redoc-table-heading: #292929 !default;
$dark-color-redoc-table-background: #2a2d34 !default;
$dark-color-redoc-danger: #e31b0f !default;


.loading {
  header,
  footer {
    display: none;
  }
}

body {
  position: relative;
  margin-top: 0;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  & > div:first-of-type {
    padding-top: $redoc-header-height;
  }

  &.no-latest-docs {
    & > div:first-of-type {
      @media screen and (max-width: 576px){
        padding-top: #{$redoc-header-height * 2.3};
      }
      @media screen and (min-width: 576px) and (max-width: 50rem){
        padding-top: #{$redoc-header-height * 2};
      }
      @media screen and (min-width: 50rem) and (max-width: 75rem){
        padding-top: #{$redoc-header-height * 1.7};
      }
      @include media-min (xl) {
        padding-top: #{$redoc-header-height + 50px};
      }
      redoc[spec-url] .beRszf .menu-content {
        @media screen and (min-width: 50rem) and (max-width: 75rem){
          top: #{$redoc-header-height + $header-height-xl} !important;
        }
        @include media-min (xl) {
          top: #{$redoc-header-height + 50px} !important;
        }
      }
    }
    header {
      @media screen and (max-width: 75rem){
        padding-top: $header-height-xl;
        width: 100%;
        height: #{$redoc-header-height + $header-height-xl};
      }
      @media screen and (max-width: 50rem){
        padding-top: 0;
        height: #{$redoc-header-height};
      }
      @include media-min (xl) {
        padding-top: 50px;
        height: #{$redoc-header-height + 50px};
      }
      .no-latest-notice-wrapper {
        @include media-min (xxl) {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.inner-body {
  display: block;
}


main {
  padding: 0;
  strong {
    font-weight: 600;
  }
}
#light-dark-switch {
  padding: 0;
}
#central-column {
  margin-left: auto;
  margin-right: auto;
}
header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  width: calc(#{$left-redoc-sidebar-width} + (100% - #{$left-redoc-sidebar-width}) * .6);
  height: $redoc-header-height;
  @media screen and (max-width: 75rem){
    padding-top: 0;
    width: 100%;
    height: #{$redoc-header-height};
  }
  @media screen and (max-width: 50rem){
    padding-top: 0;
    flex-direction: column;
    width: 100%;
    height: $redoc-header-height;
  }
  @include media-min (xxl) {
    max-width: calc(#{($outer-container-xxl - $left-redoc-sidebar-width)* 0.6} + #{$left-redoc-sidebar-width - .6});
    margin-left: auto;
    margin-right: auto;
  }
  #version-selector {
    .dropdown-btn {
      @media screen and (min-width: 50.01rem) and (max-width: 75rem) {
        padding: 5px 10px;
        border: 2px solid;
      }
    }
    .dropdown-menu {
      @media screen and (min-width: 50.01rem) and (max-width: 75rem) {
        left: 0 !important;
        border: 2px solid;
      }
    }
  }
  .header-left {
    position: relative;
    z-index: 20;
    width: $left-redoc-sidebar-width;
    padding: 7px 40px;
    pointer-events: all;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 50rem){
      padding: 10px 15px;
    }
    @media screen and (max-width: 50rem){
      width: 100%;
      height: $redoc-header-height / 2;
      padding: 10px 40px;
    }

    .navbar-brand {
      justify-content: flex-start;
      @media screen and (min-width: 50rem){
        align-items: center;
        height: 50px;
      }
    }
    #light-dark-switch {
      align-items: center;
      padding-top: 0;
      border-top: 2px solid;
      @media screen and (min-width: 50rem){
        height: 50px;
      }
      @media screen and (max-width: 50rem){
        position: absolute;
        right: 26px;
        bottom: -($redoc-header-height / 2);
        height: $redoc-header-height / 2;
        border: none;
      }
    }
  }
  .header-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: calc(100% - #{$left-redoc-sidebar-width} - 80px);
    padding-bottom: 15px;
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: 1px solid;
    @media screen and (max-width: 50rem){
      position: absolute;
      bottom: 0;
      z-index: 20;
      align-items: center;
      justify-content: flex-start;
      width: auto;
      height: $redoc-header-height / 2;
      padding: 0 0 0 22px;
      margin: 0;
      border: none;
    }
  }
}
#footer-redoc {
  .powered-by-badge {
    position: absolute;
    right: 0;
    bottom: 15px;
    z-index: 50;
    height: 40px;
    padding: 0 40px;
    font-size: .8rem;
    color: $light-color-shaded-text;
    text-align: right;
    a {
      color: $light-color-shaded-text;
      text-decoration: none;
    }
  }
}

.no-latest-notice-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  @media screen and (max-width: 50rem){
    top: $redoc-header-height;
  }

  .no-latest-notice {
    padding: 3px 40px 5px;
    display: inline-flex;
    width: 100%;
    min-height: $header-height-xl;
    @media screen and (max-width: 50rem){
      display: inline-block;
      padding: 0 20px 5px;
      line-height: 26px;
    }
    @include media-min (xl){
      min-height: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
    }

    .no-latest-title {
      position: relative;
      display: inline;
      padding: 0 20px 0 38px;
      font-weight: 600;
      line-height: 32px;
      
      @media screen and (max-width: 50rem){
        display: inline-block;
        padding: 4px 10px 4px 38px;
      }

      &::after {
        position: absolute;
        top: 3px;
        left: 0;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
        content: "";
        background: url("#{$ico-path}svg-icons.svg#circle-exclamation-orange");
      }
    }

    .no-latest-text-wrapper {
      display: inline;
      padding: 0 .5em 0 0;
    
      @media screen and (max-width: 50rem){
        display: inline-block;
      }
    }
  }
}

.light-theme,
.dark-theme {
  [role=main] {
    caption,
    td,
    th {
      background-color: transparent;
    }
  } 
}

/* Redoc Element styles ----------------------------------------------------- */

redoc[spec-url] .beRszf {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: .03em;

  // Responosive tables
  .eCjbJc {
    display: block;
    overflow-x: auto;
  }

  // Right column dark background only
  .cObJOV {
    top: calc(-60px - #{$redoc-header-height});
    width: calc((100% - #{$left-redoc-sidebar-width}) * .4);
    background-color: $dark-color-base-space;
  }

  // API menu toggle
  .sc-bMVAic.llQIcF {
    top: 6px;
    right: 15px;
    width: 45px;
    height: 45px;
    padding: .4rem;
    background: transparent;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
  }

  // Tag sections:
  .cncswi {
    padding: 10px 0 0;

    // Tag sections head:
    .TPAYK {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  // Original "Powered by ReDoc" link
  .bmRLPL {
    display: none;
  }

  // Simple table style
  .dCnGCn table th {
    font-weight: 500;
  }
  .dCnGCn table th,
  .dCnGCn table td {
    padding: 6px 20px;
    border: 2px solid;
  }

  // Font inside the tables
  .xNubs {
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    line-height: 32px;
  }

  // Advanced table style
  .table {
    // Bordered table style
    &.table-bordered {
      border: none;
      th {
        font-weight: 500;
        border: 2px solid;
      }
      td {
        border: 2px solid;
      }
    }
  }

  // AUTHORIZATIONS
  .sc-epnACN {
    padding-right: 10px;
    .XrbXS {
      font-size: 16px !important;
    }
  }

  // QUERY PARAMETERS and REQUEST BODY SCHEMA
  .sc-gqjmRU.LiUBH {
    width: 100%;
    font-size: 16px !important;
    > .sc-hSdWYo.hoUoen {
      font-size: 16px !important;
    }
  }

  // Code blocks
  code,
  .sc-cHGsZl.sc-jbKcbu,
  .sc-cHGsZl.sc-jqCOkK {
    font-family: "Fira Mono", monospace;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: .03em;
  }
  pre code {
    background-color: $dark-color-code-block-background;
  }
  .gbsZqp {
    color: #fff;
  }
  .token {
    color: $dark-color-main-text;
    font-family: "Fira mono", monospace;
    font-size: 14px;
    &.property, 
    &.property.string, 
    &.tag,
    &.number,
    &.constant,
    &.symbol {
      color: $dark-color-code-number;
    }
    &.comment,
    &.prolog,
    &.doctype,
    &.cdata {
      color: $dark-color-code-comment;
    }
    &.atrule, 
    &.attr-value, 
    &.keyword {
      color: $dark-color-code-variable;
    }
    &.selector, 
    &.attr-name, 
    &.string, 
    &.char, 
    &.builtin, 
    &.inserted {
      color: $dark-color-code-string;
    }
    &.operator, 
    &.entity, 
    &.url, 
    &.variable {
      color: $dark-color-code-default;
    }
  }

  // Responses (central column): 200, 400, etc
  .sc-ibxdXY {
    &.gxJjxJ,
    &.dUFXgZ {
      strong {
        margin-right: 10px;
        font-weight: 600;
      }
    }
  }

  // Content blocks
  .sc-jWBwVP.sc-iRbamj.dCnGCn {
    line-height: 32px;
    pre {
      background-color: $dark-color-code-block-background;
    }
    p {
      line-height: 32px;
    }
  }

  // Inline code value
  .bMfIUD {
    border: 1px solid;
  }
  .xNubs code {
    border: none;
  }
  .beUper {
    border: none;
  }

  // Properties and property required
  .sc-chPdSV.eAybih {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    line-height: 32px;
    .sc-ksYbfQ.sc-hmzhuo.bGITIP {
      font-size: 14px;
      text-transform: capitalize;
    }
  }

  // Fix error of the connecting line on sigle properties
  tr.last:first-of-type > .eAybih,
  tr.last:first-of-type > .jMEzIu {
    background-image: none;
  }

  // Expandable property
  .sc-kjoXOD.jMEzIu,
  .sc-kjoXOD.QefOL {
    button {
      font-family: Manrope, sans-serif;
      font-size: 16px;
      line-height: 32px;
    }
  }

  // Array of <Type>
  .sc-TOsTZ.fKyGWc {
    font-size: 15px;
  }

  // Array () []
  .sc-hMqMXs.dDdNtD,
  .sc-kEYyzF.cMefLx {
    font-family: Manrope, sans-serif;
    font-size: 15px;
  }

  // Types
  .sc-kgAjT.hqYVjx {
    font-size: 15px;
  }

  // Default
  .sc-cHGsZl.lpeYvY {
    font-size: 15px;
  }

  // One of...
  .sc-jKJlTe.eZZMfQ {
    font-family: Manrope, sans-serif;
    font-size: 16px;
  }
  .sc-eNQAEJ {
    font-size: 15px;
    border-radius: 3px;
  }

  // Parameters values and descriptions
  .kGwPhO {
    //   width: 100%;
    font-size: 16px;
  }
  .edBCth {
    font-size: 14px;
  }

  // Samples tabs (in dark background part)
  .dOwpAS {
    .react-tabs__tab-list {
      [role="tab"] {
        width: 5em;
        padding: 3px 10px;
        margin-top: 7px;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 3px;

        & > [role="tab"].react-tabs__tab--selected {
          font-weight: 500;
        }
        &.tab-success::before,
        &.tab-error::before,
        &.tab-redirect::before,
        &.tab-info::before {
          position: relative;
          top: -2px;
          display: inline-block;
          width: 5px;
          height: 5px;
          margin-right: .5em;
          content: "";
          border-radius: 50%;
        }
      }
    }
  }

  // Samples endpoint boxes (in dark background part)
  .gLTsd {
    background-color: $dark-color-code-block-background;

    // Endpoint string
    .sc-hwwEjo {
      font-family: Manrope, sans-serif;
      letter-spacing: .03em;
    }
  }

  // Content type boxes  (in dark background part)
  .sc-eqIVtm.ecxnvs {
    display: none;
  }

  // Code block area container
  .sc-gisBJw.gwfZGU {
    margin-top: 0;

    // Code block content
    .jCgylq {
      a {
        text-decoration: none !important;
      }
    }
  }

  // Code block buttons
  .gsaTRZ > button {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    border-radius: 3px;
  }

  // API specs download button
  a.sc-hEsumM.jrowNk {
    padding: 0 34px;
    text-decoration: none;
    user-select: none;
    border: 2px solid;
    border-radius: 8px;
  }

  // Left sidebar
  .menu-content {
    position: fixed;
    top: $redoc-header-height !important;
    width: $left-redoc-sidebar-width;
    height: calc(100vh - 110px) !important;
    z-index: 100;
    @media screen and (max-width: 50rem){
      width: 100%;
    }
    label[role="menuitem"] {
      padding-right: 26px;
      padding-left: 26px;
      font-family: Manrope, sans-serif;
      font-size: 16px;
      font-weight: 500;
      > span.operation-type {
        display: none;
      }
      &.-depth1 {
        text-transform: uppercase;
      }
      &.active .hRqESd,
      &.iTiWpH .hRqESd {
        transform: rotateZ(-180deg);
      }
      &.-depth2 {
        padding-left: 36px;
      }
    }
  }

  // Search box
  .cziLoD {
    padding: 30px 0 5px;
    input {
      padding-bottom: 0;
      padding-left: 28px;
      font-family: Manrope, sans-serif;
      font-size: 16px;
      font-weight: 500;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px 25px;
      border-bottom: 2px solid;
    }
    svg {
      display: none;
    }
  }
  .kwnyAC {
    background: transparent;
    width: calc(100% - 40px);
    margin: 0 auto;
  }

  // Central and right content columns
  .api-content {
    scroll-margin-top: $redoc-header-height;
    margin-left: $left-redoc-sidebar-width;
    @media screen and (max-width: 50rem){
      margin-left: 0;
    }
    h1,
    h2,
    h3,
    h4 {
      position: relative;
      font-family: Manrope, sans-serif;
      font-weight: 600;
      letter-spacing: .03em;
      .sc-VigVT.jrPOYQ {
        position: absolute;
        top: .3em;
        right: -24px;
      }
    }

    // Main h1 heading
    .sc-htoDjs.sc-tilXH.givSXQ {
      font-size: 34px;
      line-height: 46.44px;
    }
    h1 {
      font-size: 28px;
      line-height: 40px;
    }
    h2,
    h3 {
      font-size: 22px;
      line-height: 36px;
    }

    // Central column
    .TPAYK {
      // License
      .sc-kafWEX.egTZxS {
        margin-bottom: 1rem;
      }

    }

    // Right column (always dark)
    .celZWI {
      color: $dark-color-main-text;
      background-color: $dark-color-base-space;

      h3 {
        font-size: 16px;
        font-weight: 500;
        color: $dark-color-main-text;
        text-transform: uppercase;
      }

      .http-verb {
        font-family: Manrope, sans-serif;
        font-size: 16px;
        color: #000;
        &.get {
          background-color: $dark-color-success;
        }
        &.post {
          background-color: $dark-color-primary-lighter;
        }
        &.put {
          background-color: $dark-color-code-variable;
        }
        &.delete {
          background-color: $dark-color-danger;
        }
      }

      .react-tabs__tab-panel > div{
        padding-top: 10px;
        margin-top: 10px;
      }
    }
  }

  // Remove the horizontal line between sections
  .ddXLZs:not(:last-of-type)::after {
    content: none;
  }
}

/* End of ReDoc element styles */


/* Light theme -------------------------------------------------------------- */

.light-theme body {
  color: $light-color-main-text;
  & > div:not(.loading):first-of-type {
    @include  media-min (xl) {
      background: linear-gradient(90deg,$light-color-sidebar-space 50%, $dark-color-index-toc-background 50%)
    }
  }
  .no-latest-notice-wrapper {
    background-color: $light-color-base-space;
    .no-latest-notice {
      background-color: rgba($light-color-warning, .1);
      .no-latest-title {
        color: $light-color-warning-dark;
      }
    }
  }
  .loading {
    redoc {
      div {
        color: $light-color-primary !important;
        * {
          fill: $light-color-primary !important;
        }
      }
    }
  }
  header {
    background: $light-color-base-space;
    @media screen and (max-width: 50rem){
      background-color: $light-color-admonition-background;
    }
    .header-left {
      background-color: $light-color-sidebar-space;
      #light-dark-switch {
        border-top-color: $light-color-border-deeper;
      }
    }
    .header-right {
      border-bottom-color: $light-color-global-toc-highlight;
    }
  }
  redoc[spec-url] .beRszf {
    color: $light-color-main-text;

    // Generic links
    a {
      color: $light-color-primary;
      &:hover,
      &:focus {
        color: $light-color-primary-lighter;
      }
    }
    p {
      color: $light-color-main-text;
    }
    .jCgylq {
      // Code blocks tokens
      .token {
        &.boolean {
          color: $dark-color-danger;
        }
        &.number {
          color: $light-color-primary-lighter;
        }
      }
    }

    // Simple table style
    .dCnGCn table th,
    .dCnGCn table td {
      border-color: $light-color-table-border;
    }
    .dCnGCn table tr:nth-child(2n) {
      background-color: $light-color-sidebar-space;
    }

    // Advanced table style
    .table {
      // Bordered table style
      &.table-bordered {
        th {
          color: $dark-color-main-text;
          background-color: $light-color-primary;
          border-color: $light-color-primary;
        }
        td {
          border-color: $light-color-table-border;
        }
      }

      // Striped table style
      &.table-striped tbody {
        tr:nth-of-type(odd) {
          background-color: $light-color-base-space;
        }
        tr:nth-of-type(even) {
          background-color: $light-color-sidebar-space;
        }
      }
    }

    // AUTHORIZATIONS
    .sc-epnACN {
      color: $light-color-redoc-type;
    }
    .XrbXS {
      color: $light-color-redoc-type;
      border-bottom-color: $light-color-redoc-type-border !important;
    }

    // QUERY PARAMETERS and REQUEST BODY SCHEMA
    .sc-gqjmRU.LiUBH {
      color: $light-color-redoc-type !important;
      border-bottom-color: $light-color-redoc-type-border !important;
      > .sc-hSdWYo.hoUoen {
        color: $light-color-main-text;
      }
    }

    // Properties
    .sc-chPdSV.eAybih {
      color: $light-color-main-text;

      // Porperty required
      .sc-ksYbfQ.sc-hmzhuo.bGITIP {
        color: $light-color-danger-dark;
      }
    }

    // Expandable property
    .sc-kjoXOD.jMEzIu,
    .sc-kjoXOD.QefOL {
      button {
        color: $light-color-main-text;
        svg polygon {
          fill: $light-color-primary;
        }
      }
    }
    .jMEzIu {
      border-left-color: $light-color-primary-lighter;
    }

    // Nested expandable properties
    .eCjbJc .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX {
      background: $light-color-admonition-background;
    }
    .eCjbJc .sc-kpOJdX .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX {
      background-color: $light-color-base-space;
    }

    // API menu toggle
    .imibLw {
      color: $light-color-primary-lighter;
    }

    // Properties connecting line
    tr:first-of-type > .eAybih,
    tr:first-of-type > .jMEzIu {
      background-image: linear-gradient(transparent 0%, transparent 28px, $light-color-primary-lighter 28px, $light-color-primary-lighter 100%);
    }
    .eAybih,
    .gtEarq {
      border-left-color: $light-color-primary-lighter;
    }
    tr.last + tr > .gtEarq {
      border-left-color: transparent;
    }
    tr.last {
      & > .eAybih,
      & > .jMEzIu {
        background-image: linear-gradient($light-color-primary-lighter 0%, $light-color-primary-lighter 29px, transparent 29px, transparent 100%);
      }
      &:first-of-type > .eAybih,
      &:first-of-type > .jMEzIu {
        background-image: none;
      }
    }
    .bcLONg::before,
    .bcLONg::after {
      background-color: $light-color-primary-lighter;
    }

    // Array of <Type>
    .sc-TOsTZ.fKyGWc {
      color: $light-color-redoc-type;
    }

    // Array () []
    .sc-hMqMXs.dDdNtD,
    .sc-kEYyzF.cMefLx {
      color: $light-color-main-text;
    }

    // Types
    .sc-kgAjT.hqYVjx {
      color: $light-color-redoc-type;
    }

    // Default
    .sc-cHGsZl.lpeYvY {
      color: $light-color-main-text;
    }

    // One of...
    .sc-jKJlTe.eZZMfQ {
      color: $light-color-main-text;
    }
    .sc-eNQAEJ {
      border-color: $light-color-primary-lighter;
      &.jdXjUh {
        color: $light-color-main-text;
        background-color: $light-color-base-space;
      }
      &.gYsnwL {
        color: $light-color-base-space;
        background-color: $light-color-primary-lighter;
      }
    }

    // Parameters values and descriptions
    .kGwPhO {
      border-bottom-color: $light-color-redoc-type-border;
    }
    .edBCth {
      color: $light-color-shaded-text;
    }

    // Value restrictions
    .beUper {
      color: $light-color-primary-alt;
      background-color: $light-color-highlight-background;
    }

    // Responses (central column): 200, 400, etc
    .sc-ibxdXY {
      &.gxJjxJ {
        background-color: rgba($light-color-success-dark, .2);
        strong {
          color: $light-color-success-dark;
        }
        svg polygon {
          fill: $light-color-success-dark;
        }
      }
      &.dUFXgZ {
        background-color: rgba($light-color-danger-dark, .2);
        strong {
          color: $light-color-danger-dark;
        }
        svg polygon {
          fill: $light-color-danger-dark;
        }
      }
    }

    // Inline code value
    .bMfIUD {
      color: $light-color-main-text-extra;
      border-color: $light-color-redoc-type-border;
    }

    // Samples tabs (in dark background part)
    .dOwpAS {
      .react-tabs__tab-list {
        & > [role="tab"].react-tabs__tab--selected {
          color: $light-color-main-text;
          background-color: $light-color-base-space;
        }
        [role="tab"] {
          color: $dark-color-main-text;
          background-color: $dark-color-code-block-background;
          &.tab-success::before {
            background-color: $light-color-success-dark;
            box-shadow: 0 0 3px 0 $dark-color-success-dark;
          }
          &.tab-error::before {
            background-color: $dark-color-danger;
            box-shadow: 0 0 3px 0 $dark-color-danger;
          }
          &.tab-redirect::before {
            background-color: $dark-color-warning;
            box-shadow: 0 0 3px 0 $dark-color-warning;
          }
          &.tab-info::before {
            background-color: $dark-color-primary;
            box-shadow: 0 0 3px 0 $dark-color-primary;
          }
        }
      }

      // Samples tab content
      & > .react-tabs__tab-panel {
        background-color: $dark-color-code-block-background;
      }
    }

    // Code block area container
    .sc-gisBJw.gwfZGU {
      // Code block content
      .jCgylq {
        background-color: $dark-color-code-block-background;
        code {
          background-color: $dark-color-code-block-background;
        }
        a {
          color: $dark-color-primary;
          &:hover,
          &:focus {
            color: $dark-color-primary-lighter;
          }
        }
        .hoverable {
          color: $dark-color-main-text;
        }
      }
    }

    // Download button
    a.sc-hEsumM.jrowNk {
      color: $light-color-main-text;
      border-color: $light-color-primary-lighter;
      &:hover,
      &:focus {
        color: $dark-color-main-text;
        background-color: $light-color-primary;
        border-color: $light-color-primary;
      }
    }

    // Left sidebar
    .menu-content {
      background-color: $light-color-sidebar-space;

      // Menu items text
      .hxqNKs,
      .iTiWpH {
        color: $light-color-main-text;
      }
      label[role="menuitem"] {
        &:hover {
          color: $light-color-primary;
          background-color: $light-color-sidebar-space;
        }

        // Menu items text
        .hxqNKs,
        .iTiWpH,
        .dttBLN,
        &.idRuNa {
          color: $light-color-main-text;
          &:hover {
            color: $light-color-primary;
          }
        }
        svg polygon {
          fill: $light-color-primary;
        }
        &.active {
          background-color: $light-color-global-toc-highlight;
          color: $light-color-base-space;
          svg polygon {
            fill: $light-color-base-space;
          }
        }
      }
      .kwnyAC {
        label[role="menuitem"] {
          &:hover {
            background: transparent
          }
        }
      }
    }

    // Search box
    .cziLoD {
      input {
        color: rgba($light-color-main-text, .8);
        background-image: url("#{$ico-path}svg-icons.svg#search-lt");
        border-bottom-color: $light-color-border-deeper;
      }
      ::placeholder {
        color: $light-color-focus-shade;
      }
    }
    .kwnyAC {
      & > li {
        background: rgba(255,255,255,.55);
      }
    }

    // Central and right content columns
    .api-content {
      h1,
      h2,
      h3,
      h4 {
        color: $light-color-main-text-extra;
      }
      .celZWI {
        h1,
        h2,
        h3,
        h4 {
          color: $dark-color-main-text;
        }
      }
    }

  }
  #version-selector {
    .dropdown-btn {
      @media screen and (min-width: 50.01rem) and (max-width: 75rem) {
        border-color: $light-color-accent;
      }
    }
    .dropdown-menu {
      @media screen and (min-width: 50.01rem) and (max-width: 75rem) {
        border-color: $light-color-accent;
      }
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme body {
  color: $dark-color-main-text;
  & > div:not(.loading):first-of-type {
    @include  media-min (xl) {
      background: linear-gradient(90deg,$dark-color-sidebar-space 50%, $dark-color-index-toc-background 50%)
    }
  }
  .no-latest-notice-wrapper {
    background-color: $dark-color-base-space;
    .no-latest-notice {
      background-color: rgba($dark-color-warning, .1);
      .no-latest-title {
        color: $dark-color-warning;
      }
    }
  }
  .loading {
    redoc {
      div {
        color: $dark-color-primary !important;
        * {
          fill: $dark-color-primary !important;
        }
      }
    }
  }
  background-color: $dark-color-redoc-base-space;
  header {
    background: $dark-color-redoc-base-space;
    @media screen and (max-width: 50rem){
      background-color: $dark-color-sidebar-space;
    }
    .header-left {
      background-color: $dark-color-sidebar-space;
      #light-dark-switch {
        border-top-color: $light-color-border-deeper;
      }
    }
    .header-right {
      border-bottom-color: $dark-color-global-toc-highlight;
    }
  }
  redoc[spec-url] .beRszf {
    color: $dark-color-main-text;

    // Generic links
    a {
      color: $dark-color-primary;
      &:hover,
      &:focus {
        color: $dark-color-primary-lighter;
      }
    }
    p {
      color: $dark-color-main-text;
    }
    .jCgylq {
      // Code blocks tokens
      .token {
        &.boolean {
          color: $dark-color-danger;
        }
        &.number {
          color: $light-color-primary-lighter;
        }
      }
    }

    // Simple table style
    .dCnGCn table th,
    .dCnGCn table td {
      border-color: $light-color-table-border;
    }
    .dCnGCn table tr {
      background-color: $dark-color-redoc-table-background;
      &:nth-child(2n) {
        background-color: $dark-color-highlight-background;
      }
    }

    // Advanced table style
    .table {
      // Bordered table style
      td,
      th {
        color: $dark-color-main-text;
      }
      &.table-bordered {
        th {
          background-color: $dark-color-redoc-table-heading;
          border-color: $light-color-table-border;
        }
        td {
          border-color: $light-color-table-border;
        }
      }

      // Striped table style
      &.table-striped tbody {
        tr:nth-of-type(odd) {
          background-color: $dark-color-redoc-table-background;
        }
        tr:nth-of-type(even) {
          background-color: $dark-color-highlight-background;
        }
      }
    }

    // AUTHORIZATIONS
    .sc-epnACN {
      color: $light-color-redoc-type-border;
    }
    .XrbXS {
      color: $light-color-redoc-type-border;
      border-bottom-color: $light-color-redoc-type-border !important;
    }

    // QUERY PARAMETERS and REQUEST BODY SCHEMA
    .sc-gqjmRU.LiUBH {
      color: $light-color-redoc-type-border !important;
      border-bottom-color: $light-color-redoc-type-border !important;
      > .sc-hSdWYo.hoUoen {
        color: $dark-color-main-text;
      }
    }

    // Properties
    .sc-chPdSV.eAybih {
      color: $dark-color-main-text;

      // Porperty required
      .sc-ksYbfQ.sc-hmzhuo.bGITIP {
        color: $dark-color-danger;
      }
    }
    tr.last:first-of-type > .eAybih,
    tr.last:first-of-type > .jMEzIu {
      background-image: none;
    }

    // Expandable property
    .sc-kjoXOD.jMEzIu,
    .sc-kjoXOD.QefOL {
      button {
        color: $dark-color-main-text;
        svg polygon {
          fill: $dark-color-primary;
        }
      }
    }
    .jMEzIu {
      border-left-color: $light-color-primary-lighter;
    }

    // Nested expandable properties
    .eCjbJc .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX {
      background: $dark-color-sidebar-space;
    }
    .eCjbJc .sc-kpOJdX .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX,
    .eCjbJc .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX .sc-kpOJdX {
      background-color: $dark-color-redoc-base-space;
    }

    // API menu toggle
    .imibLw {
      color: $dark-color-primary-lighter;
    }
    
    // Properties connecting line
    tr:first-of-type > .eAybih,
    tr:first-of-type > .jMEzIu {
      background-image: linear-gradient(transparent 0%, transparent 28px, $dark-color-primary-lighter 28px, $dark-color-primary-lighter 100%);
    }
    .eAybih,
    .gtEarq {
      border-left-color: $dark-color-primary-lighter;
    }
    tr.last + tr > .gtEarq {
      border-left-color: transparent;
    }
    tr.last {
      & > .eAybih,
      & > .jMEzIu {
        background-image: linear-gradient($dark-color-primary-lighter 0%, $dark-color-primary-lighter 29px, transparent 29px, transparent 100%);
      }
      &:first-of-type > .eAybih,
      &:first-of-type > .jMEzIu {
        background-image: none;
      }
    }
    .bcLONg::before,
    .bcLONg::after {
      background-color: $dark-color-primary-lighter;
    }

    // Array of <Type>
    .sc-TOsTZ.fKyGWc {
      color: $light-color-border-details;
    }

    // Array () []
    .sc-hMqMXs.dDdNtD,
    .sc-kEYyzF.cMefLx {
      color: $dark-color-main-text;
    }

    // Types
    .sc-kgAjT.hqYVjx {
      color: $light-color-redoc-type-border;
    }

    // Default
    .sc-cHGsZl.lpeYvY {
      color: $dark-color-main-text;
    }

    // One of...
    .sc-jKJlTe.eZZMfQ {
      color: $dark-color-main-text;
    }
    .sc-eNQAEJ {
      &.jdXjUh {
        color: $light-color-main-text;
        background-color: $light-color-base-space;
        border-color: $light-color-base-space;
      }
      &.gYsnwL {
        color: $light-color-main-text;
        background-color: $dark-color-primary-lighter;
        border-color: $dark-color-primary-lighter;
      }
    }

    // Parameters values and descriptions
    .edBCth {
      color: $light-color-input-placeholder;
    }
    // Value restrictions
    .beUper {
      color: $dark-color-primary;
      background-color: $dark-color-redoc-base-space;
    }

    // Responses (central column): 200, 400, etc
    .sc-ibxdXY {
      &.gxJjxJ {
        background-color: rgba($dark-color-success-dark, .2);
        strong {
          color: $dark-color-success-dark;
        }
        svg polygon {
          fill: $dark-color-success-dark;
        }
      }
      &.dUFXgZ {
        background-color: rgba($dark-color-danger-dark, .2);
        strong {
          color: $dark-color-danger-dark;
        }
        svg polygon {
          fill: $dark-color-danger-dark;
        }
      }
    }

    // Inline code value
    .bMfIUD {
      color: $dark-color-main-text;
      background-color: $dark-color-redoc-table-heading;
      border-color: $dark-color-redoc-table-heading;
    }
    
    // Samples tabs (in dark background part)
    .dOwpAS {
      .react-tabs__tab-list {
        & > [role="tab"].react-tabs__tab--selected {
          color: $light-color-main-text;
          background-color: $light-color-base-space;
        }
        [role="tab"] {
          color: $dark-color-main-text;
          background-color: $dark-color-code-block-background;
          &.tab-success::before {
            background-color: $light-color-success-dark;
            box-shadow: 0 0 3px 0 $dark-color-success-dark;
          }
          &.tab-error::before {
            background-color: $dark-color-danger;
            box-shadow: 0 0 3px 0 $dark-color-danger;
          }
          &.tab-redirect::before {
            background-color: $dark-color-warning;
            box-shadow: 0 0 3px 0 $dark-color-warning;
          }
          &.tab-info::before {
            background-color: $dark-color-primary;
            box-shadow: 0 0 3px 0 $dark-color-primary;
          }
        }
      }
      
      // Samples tab content
      & > .react-tabs__tab-panel {
        background-color: $dark-color-code-block-background;
      }
    }
    
    // Code block area container
    .sc-gisBJw.gwfZGU {
      // Code block content
      .jCgylq {
        background-color: $dark-color-code-block-background;
        code {
          background-color: $dark-color-code-block-background;
        }
        a {
          color: $dark-color-primary;
          &:hover,
          &:focus {
            color: $dark-color-primary-lighter;
          }
        }
        .hoverable {
          color: $dark-color-main-text;
        }
      }
    }

    // Download button
    a.sc-hEsumM.jrowNk {
      color: $dark-color-main-text;
      border-color: $dark-color-primary;
      &:hover,
      &:focus {
        color: $light-color-main-text;
        background-color: $dark-color-primary-lighter;
        border-color: $dark-color-primary-lighter;
      }
    }

    // Left sidebar
    .menu-content {
      background-color: $dark-color-sidebar-space;

      // Menu items text
      .hxqNKs,
      .iTiWpH {
        color: $dark-color-main-text;
      }
      label[role="menuitem"] {
        &:hover {
          color: $dark-color-primary-lighter;
          background-color: $dark-color-sidebar-space;
        }

        // Menu items text
        .hxqNKs,
        .iTiWpH,
        .dttBLN,
        &.idRuNa {
          color: $dark-color-main-text;
          &:hover {
            color: $dark-color-primary;
          }
        }
        
        // color: $light-color-base-space;

        svg polygon {
          fill: $dark-color-primary;
        }
        &.active {
          background-color: $light-color-global-toc-highlight;
          color: $light-color-base-space;
          svg polygon {
            fill: $light-color-base-space;
          }
        }
        
      }
      .kwnyAC {
        label[role="menuitem"] {
          &:hover {
            background: transparent
          }
        }
      }
    }

    // Search box
    .cziLoD {
      input {
        color: rgba($dark-color-main-text, .8);
        background-image: url("#{$ico-path}svg-icons.svg#search-dt");
        border-bottom-color: $light-color-border-deeper;
      }
      ::placeholder {
        color: $dark-color-focus-shade;
      }
    }
    .kwnyAC {
      & > li {
        background: rgba(0,0,0,.1);
      }
    }

    // Central and right conten columns
    .api-content {
      h1,
      h2,
      h3,
      h4 {
        color: $dark-color-main-text;
      }
    }
    .celZWI {
      h1,
      h2,
      h3,
      h4 {
        color: $dark-color-main-text;
      }
      // Endpoint dropdown
      .hvYMHo,
      .fKwhsn {
        background-color: $dark-color-highlight-background;
        .hmRbVC {
          color: $dark-color-main-text;
          background-color: $dark-color-code-block-background;
          & > span {
            color: $dark-color-main-text;
          }
        }
      }
    }
  }
  #version-selector {
    .dropdown-btn {
      @media screen and (min-width: 50.01rem) and (max-width: 75rem) {
        border-color: $dark-color-accent;
      }
    }
    .dropdown-menu {
      @media screen and (min-width: 50.01rem) and (max-width: 75rem) {
        border-color: $dark-color-accent;
      }
    }
  }
}
