/* -----------------------------------------------------------------------------
  Index page
----------------------------------------------------------------------------- */

@import "../inc/variables";
@import "../inc/mixins";
@import "../inc/root";

@import "../components/brand";
@import "../components/mode-switch";
@import "../components/search-box";
@import "../parts/header";
@import "../parts/footer";

.index {
  header .mobile-secondary-header {
    @include media-max(xl){
      display: none;
    }
  }
}

body {
  margin-top: $header-height-xs;
  @include media-min(xl){
    margin-top: $header-height-xl;
  }
}

header .navbar-nav .dropdown-menu {
  top: 50px!important;
  left: -35px;
  &:before {
    left: 49px;
  }
}

#large-search-box {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $index-header-height-xs;
  @include media-min(xl){
    height: $index-header-height-xl;
  }
  @include media-max(lg){
    padding-bottom: 1.5em;
  }
  .title {
    text-align: center;
    margin-bottom: 1.5rem;
    @include media-max(sm){
      font-size: 1.5rem;
    }
  }
  .search-box {
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
    .form-control {
      box-shadow: none;
    }
    .search-form {
      height: 46px;
      .btn-search {
        width: 44px;
        height: 44px;
        background-size: 41px 41px;
      }
    }
  }
}

main {
  min-height: calc(100vh - #{$index-header-height-xl} - #{$footer-height});
  padding-top: 50px;
  padding-right: 0;
  padding-left: 0;

  h1 {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 3px 0;
  }

  .toctree-wrapper {
    ul {
      padding: 0;
      list-style: none;
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .toctree-l1 {
        position: relative;
        width: calc(33.333% - #{$index-icon-size + 10 + 15});
        min-height: 133px;
        margin-bottom: 60px;
        margin-left: #{$index-icon-size + 10};
        margin-right: 15px;
        @include media-max(lg){
          margin-left: #{$index-icon-size - 10};
        }
        @include media-max(md) {
          width: 100%;
          margin-right: 0;
        }
        @include media-only(md, xl) {
          width: calc(50% - #{$index-icon-size + 10 + 15});
        }

        &.collapsible {
          .toggle {
            left: -3px;
            display: inline-block;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 600;
            
            &:focus-visible {
              &::before {
                border-bottom: 1px solid;
              }
            }
            
            &::before {
              display: inline-block;
              width: 48px;
              height: 22px;
              content: "Less";
            }

            &::after {
              display: inline-block;
              width: 24px;
              height: 12px;
              margin-left: 3px;
              content: "";
              background-repeat: no-repeat;
              background-position: center;
              background-size: 20px 15px;
              transform: rotateX(180deg);
            }
          }

          &.collapsed {
            ul {
              position: relative;
            }
            .toggle::before {
              content: "More";
            }
            .toggle::after {
              transform: rotateX(0);
            }

            .toctree-l2:nth-of-type(n + #{$index-max-show-items + 1}) {
              display: none;
            }
          }
        }

        a,
        .section-title {
          position: relative;
          left: -3px;
          display: inline-block;
          padding-left: 15px;
          font-weight: 500;
          line-height: 32px;
          border-left: 3px solid;

          &:hover {
            text-decoration: none;
          }
          &:focus-visible {
            outline: none;
            text-decoration: underline;
          }
        }

        > a,
        > .section-title {
          padding-bottom: 15px;
          font-size: 22px;
          font-weight: 600;
          line-height: 22px;
          @include media-max(xl){
            font-size: 20px;
          }
        }
      }
      #quickstart {
        margin-left: 0;
        margin-right: 0;
        border: 1px solid;
        @include media-only(md, lg){
          margin-right: #{$index-icon-size - 10 + 15};
        }
        @include media-min(lg){
          margin-right: #{$index-icon-size + 10 + 15};
        }
      }
      .toctree-l2,
      .toctree-l3 {
        position: relative;
      }
    }
    
    &:last-of-type {
      .toctree-l1 {
        
        
        &:last-of-type {
          .toctree-l2 {
            position: relative;
            > a {
              display: inline-block;
              position: absolute;
              height: 22px;
              bottom: -1.5em;
              line-height: 1.5em;
              border-left: none;
              padding: 0;
              left: -3px;
              font-size: 18px;
              font-weight: 600;
              i {
                margin-left: 12px;
                font-size: 1.1rem;
                position: relative;
                bottom: -1px;
              }
            }
            > ul {
              display: block;
              .toctree-l3:nth-of-type(n+4) {
                display: none;
              }
            }
            &:nth-of-type(n+2) {
              display: none;
            }
          }
        }
        
        .toctree-l2 > ul {
          display: none;
        }
      }
    }
    .ico-long-arrow-right {
      height: 15px;
      width: 17px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: 12px;
      position: relative;
      bottom: -2px;
    }
  }
}

.loading .toctree-l1 {
  height: 133px;
  overflow-y: hidden;
}

#right-sidebar {
  position: fixed;
  top: $index-header-height-xl + $header-height-xl;
  right: 0;
  width: calc((100% - 1140px) / 2);
  min-width: 160px;
  padding-top: 15px;
  z-index: 1500;
  @include media-max(sm){
    min-width: 115px;
  }  
  @include media-max(lg){
    top: $index-header-height-xl + $header-height-xs;
  }
}

.index {
  .container {
    @include media-min(xxl){
      max-width: 1400px;
    }
  }

  #quickstart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 133px;
    border-radius: $rounded-corners;
    & > a {
      display: inline-flex;
      align-items: center;
      border: none;
      padding: 0;
      &:hover {
        text-decoration: none;
      }
      &::before {
        position: static;
        margin-right: 15px;
      }
      &::after {
        content: '';
        display: inline-block;
        width: 18px;
        height: 19px;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 15px;
      }
    }
  }
  .toctree-l1 > a.reference::before,
  .toctree-l1 > .section-title::before {
    position: absolute;
    top: -7px;
    left: -75px;
    display: block;
    width: 70px;
    height: 70px;
    pointer-events: none;
    content: "";
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 70px 70px;
    @include media-max(lg){
      left: -55px;
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
    }
  }
  footer {
    position: static;
    padding-right: 0;
    padding-left: 0;
  }
}

/* Light theme -------------------------------------------------------------- */

.light-theme body { /* stylelint-disable-line  no-duplicate-selectors */
  color: $light-color-main-text;
  background: $light-color-code-block-background;
  .toctree-wrapper {
    > ul {
      .toctree-l1 {
        &.collapsible {
          .toggle {
            color: $light-color-primary;
            border: none;
            &:focus-visible {
              &::after {
                border-color: $light-color-primary;
              }
            }
            &::after {
              background-image: url("#{$ico-path}svg-icons.svg#chevron-blue-lt");
            }
          }
        }
        &:last-of-type {
          .toctree-l2 {
            > a {
              color: $light-color-primary;
            }
          }
        }
        a {
          color: $light-color-main-text;
          border-left-color: $light-color-primary;
          &:hover,
          &:focus-visible {
            color: $light-color-primary-lighter;
          }
        }
        .section-title {
          color: $light-color-main-text;
          border-left-color: $light-color-primary;
        }
      }
    }
    .ico-long-arrow-right {
      background-image: url("#{$ico-path}arrows.svg#ico-long-arrow-right-lt");
    }
  }

  #header {
    background: $light-color-index-header-background;
    .search-box {
      background: $light-color-index-header-background;
    }
    .form-control {
      background: $light-color-index-header-background;
    }
  }
  #large-search-box {
    background: $light-color-index-header-background;
  }

  /* Getting started */
  [href$="getting-started/index.html"]::before,
  [data-href$="getting-started/index.html"]::before
   {
    background-image: url("#{$ico-path}index-icons.svg#getting-started-lt");
  }

  /* Quickstart */
  [href="quickstart.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#quickstart-lt");
  }

  /* Installation guide */
  [href$="installation-guide/index.html"]::before,
  [data-href$="installation-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#installation-guide-lt");
  }

  /* Installation alternatives */
  [href$="deployment-options/index.html"]::before,
  [data-href$="deployment-options/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#installation-alternatives-lt");
  }

  /* Upgrade guide */
  [href$="upgrade-guide/index.html"]::before,
  [data-href$="upgrade-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#upgrade-guide-lt");
  }

  /* User manual */
  [href$="user-manual/index.html"]::before,
  [data-href$="user-manual/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#user-manual-lt");
  }

  /* Cloud service */
  [href$="cloud-service/index.html"]::before,
  [data-href$="cloud-service/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#cloud-service-lt");
  }

  /* Containers */
  [href$="containers.html"]::before,
  [data-href$="containers.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#containers-lt");
  }

  /* Container security */
  [href$="container-security/index.html"]::before,
  [data-href$="container-security/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#containers-lt");
  }
  
  /* Development */
  [href$="development/index.html"]::before,
  [data-href$="development/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#development-lt");
  }

  /* Deployment */
  [href$="deployment.html"]::before,
  [data-href$="deployment.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#deployment-lt");
  }

  /* Integrations guide */
  [href$="integrations-guide/index.html"]::before,
  [data-href$="integrations-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#integrations-guide-lt");
  }

  /* Compliance */
  [href$="compliance/index.html"]::before,
  [data-href$="compliance/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#compliance-lt");
  }

  /* Learning Wazuh */
  [href$="learning-wazuh/index.html"]::before,
  [data-href$="learning-wazuh/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#learning-lt");
  }

  /* Cloud security */
  [href$="monitoring.html"]::before,
  [data-href$="monitoring.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#cloud-security-lt");
  }

  /* Proof of Concept guide */
  [href$="proof-of-concept-guide/index.html"]::before,
  [data-href$="proof-of-concept-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#poc-guide-lt");
  }

  /* Release notes */
  [href$="release-notes/index.html"]::before,
  [data-href$="release-notes/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#release-notes-lt");
  }

  /* Migration guide */
  [href$="migration-guide/index.html"]::before,
  [data-href$="migration-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#migration-guide-lt");
  }
}
.light-theme {
  &.index #quickstart {
    border-color: $light-color-primary;
    background-color: $light-color-sidebar-space;
    > a::after {
      background-image: url("#{$ico-path}svg-icons.svg#right-arrow-lt");
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme body {
  color: $dark-color-main-text;
  background: $dark-color-base-space;
  .toctree-wrapper {
    > ul {
      .toctree-l1 {
        &.collapsible {
          .toggle {
            color: $dark-color-primary;
            border-left-color: $dark-color-base-space;
            &:focus-visible {
              &::after {
                border-color: $dark-color-primary;
              }
            }
            &::after {
              background-image: url("#{$ico-path}svg-icons.svg#chevron-blue-dt");
            }
          }
        }
        &:last-of-type {
          .toctree-l2 {
            > a {
              color: $dark-color-primary;
            }
          }
        }
        a {
          color: $dark-color-main-text;
          border-left-color: $dark-color-highlight-inline-text;
          &:hover,
          &:focus-visible {
            color: $dark-color-primary-lighter;
          }
        }
        .section-title {
          color: $dark-color-main-text;
          border-left-color: $dark-color-highlight-inline-text;
        }
      }
    }
    .ico-long-arrow-right {
      background-image: url("#{$ico-path}arrows.svg#ico-long-arrow-right-dt");
    }
  }

  #header {
    background: $dark-color-index-header-background;
    .search-box {
      background: $dark-color-index-header-background;
    }
    .form-control {
      background: $dark-color-index-header-background;
    }
  }
  #large-search-box {
    background: $dark-color-sidebar-space;
    .form-control {
      background: $dark-color-sidebar-space;
    }
  }

  /* Getting started */
  [href$="getting-started/index.html"]::before,
  [data-href$="getting-started/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#getting-started-dt");
  }

  /* Quickstart */
  [href="quickstart.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#quickstart-dt");
  }

  /* Installation guide */
  [href$="installation-guide/index.html"]::before,
  [data-href$="installation-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#installation-guide-dt");
  }

  /* Installation alternatives */
  [href$="deployment-options/index.html"]::before,
  [data-href$="deployment-options/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#installation-alternatives-dt");
  }

  /* Upgrade guide */
  [href$="upgrade-guide/index.html"]::before,
  [data-href$="upgrade-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#upgrade-guide-dt");
  }

  /* User manual */
  [href$="user-manual/index.html"]::before,
  [data-href$="user-manual/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#user-manual-dt");
  }

  /* Cloud service */
  [href$="cloud-service/index.html"]::before,
  [data-href$="cloud-service/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#cloud-service-dt");
  }

  /* Containers */
  [href$="containers.html"]::before,
  [data-href$="containers.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#containers-dt");
  }

  /* Container security */
  [href$="container-security/index.html"]::before,
  [data-href$="container-security/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#containers-dt");
  }

  /* Development */
  [href$="development/index.html"]::before,
  [data-href$="development/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#development-dt");
  }

  /* Deployment */
  [href$="deployment.html"]::before,
  [data-href$="deployment.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#deployment-dt");
  }

    /* Integrations guide */
    [href$="integrations-guide/index.html"]::before,
    [data-href$="integrations-guide/index.html"]::before {
      background-image: url("#{$ico-path}index-icons.svg#integrations-guide-dt");
    }

  /* Compliance */
  [href$="compliance/index.html"]::before,
  [data-href$="compliance/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#compliance-dt");
  }

  /* Learning Wazuh */
  [href$="learning-wazuh/index.html"]::before,
  [data-href$="learning-wazuh/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#learning-dt");
  }

  /* Cloud security */
  [href$="monitoring.html"]::before,
  [data-href$="monitoring.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#cloud-security-dt");
  }

  /* Proof of Concept guide */
  [href$="proof-of-concept-guide/index.html"]::before,
  [data-href$="proof-of-concept-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#poc-guide-dt");
  }

  /* Release notes */
  [href$="release-notes/index.html"]::before,
  [data-href$="release-notes/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#release-notes-dt");
  }
  
  /* Migration guide */
  [href$="migration-guide/index.html"]::before,
  [data-href$="migration-guide/index.html"]::before {
    background-image: url("#{$ico-path}index-icons.svg#migration-guide-dt");
  }

  &.index #quickstart {
    border-color: $dark-color-primary;
    background-color: $dark-color-sidebar-space;
    > a::after {
      background-image: url("#{$ico-path}svg-icons.svg#right-arrow-dt");
    }
  }
}
