/* -----------------------------------------------------------------------------
  Index page
----------------------------------------------------------------------------- */

@import "../inc/variables";
@import "../inc/mixins";
@import "../inc/root";

@import "../components/brand";
@import "../components/mode-switch";
@import "../components/search-box";
@import "../parts/footer";

body {
  margin-top: $indexHeaderHeightXl;
}

.navbar {
  margin: 0 auto 27px auto;
  .navbar-brand {
    margin: 0;
    padding: 0;
    img {
      height: 35px;
    }
  }
}

main {
  padding-left: 0;
  padding-right: 0;
  min-height: calc(100vh - #{$indexHeaderHeightXl} - #{$footerHeight});
  padding-top: 60px;

  h1 {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .toctree-wrapper {
    ul {
      padding: 0;
      list-style: none;
    }
    > ul {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .toctree-l1 {
        margin-left: #{$indexIconSize + 10};
        width: calc(33.333% - #{$indexIconSize + 10});
        margin-bottom: 60px;
        position: relative;
        min-height: 133px;
        border-left: 3px solid;
        @include media-max(lg){
          margin-left: #{$indexIconSize - 10};
        }
        @include media-max(md) {
          width: calc(100% - #{$indexIconSize + 10});
        }
        @include media-only(md, xl) {
          width: calc(50% - #{$indexIconSize + 10});
        }

        &.collapsible {
          .toggle {
            display: inline-block;
            left: -3px;
            font-size: 18px;
            font-weight: 600;
            padding: 10px 0;

            &::after {
              content: '';
              display: inline-block;
              width: 24px;
              height: 12px;
              background-repeat: no-repeat;
              background-size: 20px 15px;
              background-position: center;
              margin-left: 7px;
              transform: rotateX(180deg);
            }
          }

          &.collapsed {
            ul {
              position: relative;
            }
            .toggle::after {
              transform: rotateX(0);
            }

            .toctree-l2:nth-of-type(n+#{$IndexMaxShowItems+1}) {
              display: none;
            }
          }
        } 

        a {
          border-left: 3px solid;
          position: relative;
          left: -3px;
          padding-left: 15px;
          display: inline-block;
          line-height: 32px;
          font-weight: 500;

          &:hover {
            text-decoration: none;
          }
        }

        > a {
          font-size: 22px;
          line-height: 22px;
          font-weight: 600;
          padding-bottom: 15px;
          @include media-max(xl){
            font-size: 20px;
          }
        }
      }
      .toctree-l2 {
        position: relative;
      }
    }
  }
}

.loading .toctree-l1 {
  height: 133px;
  overflow-y: hidden;
}

#header {
  height: $indexHeaderHeightXl;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navbar-brand {
    font-size: 22px;

    .logo-link.web {
      padding-bottom: 0;
      margin-right: 10px;
    }
    .logo-link.docs {
      line-height: 50px;
    }
  }

  .search-box {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}

#right-sidebar {
  position: fixed;
  top: $indexHeaderHeightXl;
  right: 0;
  width: calc((100% - 1140px)/2);
  min-width: 160px;
  padding-top: 15px;
  @include media-max(sm){
    min-width: 115px;
  }
}

.index footer {
  position: static;
  padding-left: 0;
  padding-right: 0;
}

.index main {
  .toctree-l1 > a::before {
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: right center;
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    left: -75px;
    top: -7px;
    pointer-events: none;
    @include media-max(lg){
      left: -50px;
      width: 50px;
      height: 55px;
      background-size: 60px 60px;
    }
  }
}

/* Light theme -------------------------------------------------------------- */

body {
  background: $light_ColorCodeBlockBackground;
  color: $light_ColorMainText;

  .toctree-wrapper {
    > ul {
      .toctree-l1 {
        border-left-color: $light_ColorPrimary;
        &.collapsible {
          .toggle {
            color: $light_ColorPrimary;
            border-left-color: $light_ColorCodeBlockBackground;
            &::after {
              background-image: url('#{$icoPath}svg-icons.svg#chevron-blue-lt');
            }
          }
        }
        a {
          color: $light_ColorMainText;
          border-left-color: $light_ColorPrimary;
          &:hover {
            color: $light_ColorPrimaryLighter;
          }
        }
      }
    }
  }
  
  #header {
    background: $light_ColorIndexHeaderBackground;
    .search-box {
      background: $light_ColorIndexHeaderBackground;
    }
    .form-control {
      background: $light_ColorIndexHeaderBackground;
    }
  }
  
  /* Getting started */
  [href$="getting-started/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#getting-started-lt');
  }
  /* Installation guide */
  [href$="installation-guide/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#installation-guide-lt');
  }
  /* Upgrade guide */
  [href$="upgrade-guide/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#upgrade-guide-lt');
  }
  /* User manual */
  [href$="user-manual/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#user-manual-lt');
  }
  /* Cloud service */
  [href$="cloud-service/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#cloud-service-lt');
  }
  /* Containers */
  [href$="containers.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#containers-lt');
  }
  /* Deployment */
  [href$="deployment.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#deployment-lt');
  }
  /* Compliance */
  [href$="compliance.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#compliance-lt');
  }
  /* Monitorin with Wazuh */
  [href$="monitoring.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#monitoring-lt');
  }
  /* Proof of Concept guide */
  [href$="proof-of-concept-guide/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#poc-guide-lt');
  }
  /* Release notes */
  [href$="release-notes/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#release-notes-lt');
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  background: $dark_ColorBaseSpace;
  color: $dark_ColorMainText;

  .toctree-wrapper {
    > ul {
      .toctree-l1 {
        border-left-color: $dark_ColorHighlightInlineText;
        &.collapsible {
          .toggle {
            color: $dark_ColorPrimary;
            border-left-color: $dark_ColorBaseSpace;
            &::after {
              background-image: url('#{$icoPath}svg-icons.svg#chevron-blue-dt');
            }
          }
        }
        a {
          color: $dark_ColorMainText;
          border-left-color: $dark_ColorHighlightInlineText;
          &:hover {
            color: $dark_ColorPrimaryLighter;
          }
        }
      }
    }
  }
  
  #header {
    background: $dark_ColorIndexHeaderBackground;
    .search-box {
      background: $dark_ColorIndexHeaderBackground;
    }
    .form-control {
      background: $dark_ColorIndexHeaderBackground;
    }
  }

  /* Getting started */
  [href$="getting-started/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#getting-started-dt');
  }
  /* Installation guide */
  [href$="installation-guide/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#installation-guide-dt');
  }
  /* Upgrade guide */
  [href$="upgrade-guide/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#upgrade-guide-dt');
  }
  /* User manual */
  [href$="user-manual/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#user-manual-dt');
  }
  /* Cloud service */
  [href$="cloud-service/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#cloud-service-dt');
  }
  /* Containers */
  [href$="containers.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#containers-dt');
  }
  /* Deployment */
  [href$="deployment.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#deployment-dt');
  }
  /* Compliance */
  [href$="compliance.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#compliance-dt');
  }
  /* Monitorin with Wazuh */
  [href$="monitoring.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#monitoring-dt');
  }
  /* Proof of Concept guide */
  [href$="proof-of-concept-guide/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#poc-guide-dt');
  }
  /* Release notes */
  [href$="release-notes/index.html"]::before {
    background-image: url('#{$icoPath}index-icons.svg#release-notes-dt');
  }
}
