/* -----------------------------------------------------------------------------
  Not Found page
----------------------------------------------------------------------------- */

@import "../inc/variables";
@import "../inc/mixins";
@import "../inc/root";

@import "../parts/header";
@import "../parts/footer";
@import "../parts/left-sidebar";
@import "../parts/central-column";
@import "../parts/right-sidebar";

.not_found { /* stylelint-disable-line selector-class-pattern */

  main {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .error-background {
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("#{$img-path}wazuh_404_bg_desktop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 90%;
    @include media-max(md){
      padding-bottom: 45%;
    }
    @include media-only(md, xl){
      min-height: 350px;
    }
    @include media-only(xl, xxl){
      padding-bottom: 45%;
    }
    @include media-min(xxl){
      min-height: 370px;
    }
  }
  .error-message {
    text-align: center;

    h1 {
      width: 100%;
      font-size: 30px;
    }
    .btn {
      padding: 10px 40px;
      font-weight: 600;
      border-radius: $rounded-corners;
    }
  }
}

/* Light theme -------------------------------------------------------------- */

.light-theme {
  .error-message {
    .btn {
      color: $light-color-main-text;
      background-color: $light-color-accent;
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  .error-message {
    .btn {
      color: $light-color-main-text;
      background-color: $dark-color-accent;
    }
  }
}
