/* -----------------------------------------------------------------------------
  Component: Brand and logo

  Style for the element containing the logo in the header.
----------------------------------------------------------------------------- */

.navbar-brand {
  display: flex;
  justify-content: flex-end;

  .logo-link {
    &.web {
      padding-bottom: .3rem;
    }
    &.docs {
      margin-left: 5px;
      line-height: 2.15;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* Light theme -------------------------------------------------------------- */

body {
  .navbar-brand {
    .logo-link {
      &.docs {
        color: $light_ColorMainText;
      }
      .logo-light {
        display: inline-block;
      }
      .logo-dark {
        display: none;
      }
    }
  }  
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  .navbar-brand {
    .logo-link {
      &.docs {
        color: $dark_ColorMainText;
      }
      .logo-light {
        display: none;
      }
      .logo-dark {
        display: inline-block;
      }
    }
  }
}
