/* -----------------------------------------------------------------------------
  Component: Code-blocks

  Style for the code-blocks and adjustment of the pygments.
----------------------------------------------------------------------------- */

main {
  code, 
  kbd, 
  pre, 
  samp {
    font-family: "Fira Mono", monospace;
  }
}

.literal-block-wrapper.docutils.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;

  .code-block-caption {
    display: flex;
    height: 48px;
    align-items: center;
    border-radius: $roundedCorners $roundedCorners 0 0;
    padding: 5px 10px;
    justify-content: space-between;
    margin-top: 1rem;

    .headerlink {
      text-decoration: none;
      line-height: 1;

      &::after {
        vertical-align: middle;
        content: '\f0c1';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        font: normal bold normal 0.95rem/1 FontAwesome;
        text-align: right;
        opacity: 0;
        transition: opacity ease-in .1s;
      }
    }

    &:hover {
      .headerlink::after {
        opacity: 1;
        transition: opacity ease-in .1s;
      }
    }
  }

  tbody tr td {
    padding: 0;
    border: none;
  }
  
  [class*="highlight-"] {
    margin-top: 0;
  }
}

[class*="highlight-"] {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  transition: max-height .2s;
  overflow-y: hidden;
  border: 1px solid;

  &.output {
    border-radius: $roundedCorners;
    max-height: 100vh;

    .output-title {
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: $roundedCorners $roundedCorners 0 0;
      font-weight: 600;
      width: 100%;
      cursor: pointer;

      &::before {
        content: '';
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: center;
        transition: transform .1s;
      }
    }
    .linenodiv {
      top: 60px;
    }
    &.collapsed {
      max-height: 40px;
      transition: max-height .2s;

      .output-title {
        border-radius: $roundedCorners;
        transition: border-radius 0.05s .2s;
        &::before {
          transform: rotateZ(-90deg);
          transition: transform .1s;
        }
      }
    }
    &.expanded {
      max-height: unset;
    }
  }

  .highlighttable {
    table-layout:fixed;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    .highlight {
      position: unset;
      overflow: auto; /* Fix to remove occasional vertical scroll in Safari */
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 20px;
    }
    .code {
      background-color: transparent;
    }
  }

  &:hover {
    .copy-to-clipboard {
      opacity: 1;
    }
  }

  .copy-to-clipboard {
    position: absolute;
    z-index: 10;
    top: 7px;
    right: 7px;
    cursor: pointer;
    opacity: 0;
    padding: 8px;
    font: normal normal normal 14px/1 FontAwesome;
    border: 0;
    border-radius: $roundedCorners;
    transition: all 0.2s ease;

    &:focus {
      opacity: 1;
    }

    &.copied {
      opacity: 1;
    }

    span {
      display: none;
      font-size: 0.9rem;
      font-family: Manrope, sans-serif;
    }
  }

  .no-select {
    user-select: none;
  }

  td.code {
    pre {
      padding: 0 20px;
      overflow: visible;
      z-index: 6;
    }
  }

  .linenodiv {
    display: inline-flex;
    border-right: 1px solid;
    position: absolute;
    top: 20px;
    z-index: 30;
    width: 50px;
    justify-content: center;
    user-select: none;
    line-height: 24px;
  }

  .linenos {
    background-color: transparent;
    width: 48px;
  }

  .highlight {
    font-family: "Fira Mono", monospace;
    position: relative;
    padding: 20px 0 0;
    display: flex;
    overflow-x: auto;
    z-index: 0;
    line-height: 24px;

    pre {
      margin: 0;
      position: unset;
      padding: 0 20px 20px;
    }

    .hll {
      display: block;

      &::before {
        position: absolute;
        left: -50px;
        right: 0;
        height: 24px;
        display: block;
        content: '';
        z-index: -1;
      }

      > span {
        position:relative;
        z-index: 25;
      }

    }

    .gp,
    .o,
    .ow,
    .p,
    .p.p-Indicator,
    .nn,
    .l.l-Scalar.l-Scalar-Plain {}

    .k,
    .kn {
      font-weight: 500;
    }
  }
}

/* Light theme -------------------------------------------------------------- */

body {
  .literal-block-wrapper.docutils.container {
    .code-block-caption {
      background-color: $light_ColorOutputTitleBackground;
      .headerlink {
        &::after {
          color: $light_ColorShadedText;
        }
      }
    }
  }
  [class*="highlight-"] {
    border-color: $light_ColorCodeBlockBorder;
    &.output {
      background-color: $light_ColorCodeBlockBackground;
      .output-title {
        background-color: $light_ColorOutputTitleBackground;
        &::before {
          background-image: url('#{$icoPath}svg-icons.svg#chevron-blue-lt');
        }
      }
    }
    .highlighttable {
      background-color: $light_ColorCodeBlockBackground;
      .linenos {
        background-color: transparent;
      }
    }
    .copy-to-clipboard {
      color: $light_ColorMainText;
      background-color: $light_ColorSidebarSpace;
      &:hover {
        background-color: $light_ColorPrimaryLighter;
        color: $light_ColorBaseSpace;
      }
      &.copied {
        background-color: $light_ColorPrimary;
        color: $light_ColorBaseSpace;
      }
    }
    .linenodiv {
      border-right-color: $light_ColorTableBorder;
      pre {
        color: $light_ColorShadedText;
      }
    }
    .highlight {
      background-color: $light_ColorCodeBlockBackground;
      color: $light_ColorCodeDefault;
      .hll::before {
        background-color: $light_ColorHighlightBackground;
      }
      .k,
      .kn {
        color: $light_ColorCodeKeyword;
      }
      .c,
      .c1,
      .cp,
      .ch,
      .go {
        color: $light_ColorCodeComment; 
      }

      .m,
      .mi {
        color: $light_ColorCodeNumber; 
      }

      .s,
      .s1,
      .s2,
      .sb,
      .se,
      .sh,
      .si,
      .heredoc,
      .heredoc span {
        color: $light_ColorCodeString; 
      }

      .vm,
      .n,
      .nb,
      .bp,
      .nf {
        color: $light_ColorCodeFunction; 
      }

      .nt,
      .na,
      .no {
        color: $light_ColorCodeVariable; 
      }
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  .literal-block-wrapper.docutils.container {
    .code-block-caption {
      background-color: $dark_ColorSidebarSpace;
      .headerlink {
        &::after {
          color: $dark_ColorShadedText;
        }
      }
    }
  }
  [class*="highlight-"] {
    border-color: $dark_ColorCodeBlockBorder;
    &.output {
      background-color: $dark_ColorCodeBlockBackground;
      .output-title {
        background-color: $dark_ColorOutputTitleBackground;
        color: $dark_ColorMainText;
        &::before {
          background-image: url('#{$icoPath}svg-icons.svg#chevron-blue-dt');
        }
      }
    }
    .highlighttable {
      background-color: $dark_ColorCodeBlockBackground;
      .linenos {
        background-color: transparent;
      }
    }
    .copy-to-clipboard {
      color: $dark_ColorMainText;
      background-color: $dark_ColorSidebarSpace;
      &:hover {
        background-color: $dark_ColorPrimaryLighter;
        color: $dark_ColorBaseSpace;
      }
      &.copied {
        background-color: $dark_ColorPrimary;
        color: $dark_ColorBaseSpace;
      }
    }
    .linenodiv {
      border-right-color: $dark_ColorTableBorder;
      pre {
        color: $dark_ColorShadedText;
      }
    }
    .highlight {
      background-color: $dark_ColorCodeBlockBackground;
      pre {
        color: $dark_ColorCodeDefault;
      }
      .hll {
        &::before {
          background-color: $dark_ColorOutputTitleBackground;
        }
      }
      .k,
      .kn {
        color: $dark_ColorCodeKeyword;
      }
      .c,
      .c1,
      .cp,
      .ch,
      .go {
        color: $dark_ColorCodeComment; 
      }

      .m,
      .mi {
        color: $dark_ColorCodeNumber; 
      }

      .s,
      .s1,
      .s2,
      .sb,
      .se,
      .sh,
      .si,
      .heredoc,
      .heredoc span {
        color: $dark_ColorCodeString; 
      }

      .vm,
      .n,
      .nb,
      .bp,
      .nf {
        color: $dark_ColorCodeFunction; 
      }

      .nt,
      .na,
      .no {
        color: $dark_ColorCodeVariable; 
      }
    }
  }
}
