/* -----------------------------------------------------------------------------
  Component: Customization for lightbox

  Style adjustments for the elements created by our custom extension:
  wazuh_doc_images.
----------------------------------------------------------------------------- */

#wazuh-light-box-overlay {
  z-index: 2000;
}
#wazuh-light-box {
  z-index: 2100;

  .wlb-image {
    border: 10px solid $color-img-border;
  }
}

.wazuh-image-wrapper {
  display: inline;
}
