/* -----------------------------------------------------------------------------
  Component: Customization for lightbox

  Style adjustments for the elements created by our custom extension:
  wazuh_doc_images.
----------------------------------------------------------------------------- */
