/* -----------------------------------------------------------------------------
  Component: Search box

  Style for the searchbox in general.
----------------------------------------------------------------------------- */

.search-box {
  overflow: hidden;
  border: 2px solid;
  border-radius: $rounded-corners;

  .search-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;

    .form-control {
      position: relative;
      z-index: 1;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      border: none;
      padding-right: 40px;
      height: 100%;
    }

    .btn-search {
      position: absolute;
      right: 0;
      z-index: 10;
      width: 38px;
      height: 38px;
      padding: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 38px 38px;
      border: none;
      border-radius: calc(#{$rounded-corners} - 2px);
    }
  }
}

header .search-box {
  min-width: 380px;
}

/* Light theme -------------------------------------------------------------- */

.light-theme {
  .search-box {
    background-color: $light-color-base-space;
    border-color: $light-color-border-details;
    &:focus-within {
      border-color: $light-color-primary-lighter;
    }
    .form-control {
      color: $light-color-main-text;
      background-color: $light-color-base-space;
    }
    .btn-search {
      background: url("#{$ico-path}svg-icons.svg#search-lt");
    }
    ::placeholder {
      color: $light-color-input-placeholder;
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  .search-box {
    background-color: $light-color-base-space;
    border-color: $dark-color-border-details;
    &:focus-within {
      border-color: $dark-color-primary-lighter;
    }
    .form-control {
      color: $dark-color-main-text;
      background-color: $light-color-base-space;
    }
    .btn-search {
      background: url("#{$ico-path}svg-icons.svg#search-dt");
    }
    ::placeholder {
      color: $dark-color-input-placeholder;
    }
  }
}
