/* -----------------------------------------------------------------------------
  Component: Search box

  Style for the searchbox in general.
----------------------------------------------------------------------------- */

.search-box {
  background-color: $wuiColorLightestShade;
  border: 2px solid $wuiColorLighterShade;
  border-radius: $roundedCorners;

  .search-form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 46px;

    .form-control {
      position: relative;
      z-index: 1;
      width: 100%;
      font-size: 18px;
      font-weight: 400;
      background-color: $wuiColorLightestShade;
      border: none;
    }

    .btn-search {
      position: absolute;
      right: 0;
      z-index: 10;
      width: 46px;
      height: 46px;
      padding: 5px;
      background: url('#{$icoPath}svg-icons.svg#search');
      background-size: 41px 41px;
      background-position: center;
      border: none;
    }
  }
}
