{#
    wazuh_doc_theme_v3/template-parts/body.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    Content template that defines the main layout of the body.

-#}

{%- extends "!wazuh_doc_theme_v3/layout.html" -%}
{%- block body -%}
{%- block icons %}
{% include "static/images/icons/svg-icons.svg" %}
{% endblock icons -%}
{%- block header %}
{% include "template-parts/header.html" %}
{% endblock header -%}
    <div class="inner-body" data-spy="scroll" data-target="#local-toc" data-offset="100">
      {% block sidebar1 -%}
        {% include "template-parts/sidebar-left.html" %}
      {% endblock sidebar1 -%}
      
      {%- block main_column -%}
      <div id="central-column">
        {%- block latest %}
          {%- set nav_version = version %}
          {% if current_version %}
            {%- set nav_version = current_version %}
          {% endif %}
          {% if nav_version and not is_latest_release %}
          <div class="no-latest-notice-wrapper">
            <div class="no-latest-notice">
              <div class="no-latest-icon-wrapper"><i class="fas fa-exclamation-triangle"></i></div>
              <div class="no-latest-text-wrapper"><span class="font-weight-bold d-none d-sm-inline-block">Warning:</span> This is the documentation for Wazuh {{ nav_version }}. Check out the docs for <a class="link-latest" href="#">the latest version of Wazuh</a>!</div>
            </div>
          </div>
          {% endif %}
        {% endblock latest %}

        {% if pagename not in special_pages %}
          {% include "template-parts/breadcrumbs.html" %}
        {% endif %}
        
        {# Main content #}
        <main role="main">
        {{ body }}
        {% if pagename not in special_pages %}
        {% include "template-parts/navigation.html" %}
        {% endif %}
        </main>
      </div>
      {%- endblock main_column -%}
      
      {%- block sidebar2 -%}
      {% include "template-parts/sidebar-right.html" %}
      {% endblock sidebar2 -%}
    </div>
{%- endblock %}
