  <div class="navbar-brand">
  {% if pagename == 'index' %}
    <div class="logo-link docs">
  {% else %}
    <a class="logo-link docs" href="{{ pathto(master_doc) }}">
  {% endif %}
      <span class="sr-only">Wazuh documentation index</span>
      <img class="logo-light" src="{{ pathto('_static/images/wazuh-docs-logo.png', 1) }}" width="211" height="28" alt="Wazuh documentation index">
      <img class="logo-dark" src="{{ pathto('_static/images/wazuh-docs-logo-white.png', 1) }}" width="211" height="28" alt="">
  {% if pagename == 'index' %}
    </div>
  {% else %}
    </a>
  {% endif %}
  </div>