{#-
    wazuh_doc_theme_v3/template-parts/header.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    General header to be included within every page of Wazuh Documentation.
-#}

<header id="header" class="fixed-top">
<nav class="navbar navbar-expand-lg">  
  {% include "template-parts/brand.html" %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-sidebar" aria-controls="left-sidebar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ theme_wazuh_web_url + '/product/' }}" target="_blank" rel="noreferrer noopener">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ theme_wazuh_web_url + '/cloud/' }}" target="_blank" rel="noreferrer noopener">Cloud</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ theme_wazuh_web_url + '/professional-services/' }}" target="_blank" rel="noreferrer noopener">Services</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown-resources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
      <div class="dropdown-menu" aria-labelledby="dropdown-resources">
        <a class="dropdown-item" href="{{ theme_wazuh_web_url + '/blog/' }}" target="_blank" rel="noreferrer noopener">Blog</a>
        <a class="dropdown-item" href="{{ theme_wazuh_web_url + '/webinars/' }}" target="_blank" rel="noreferrer noopener">Webinars</a>
        <a class="dropdown-item" href="{{ theme_wazuh_web_url + '/faq/' }}" target="_blank" rel="noreferrer noopener">FAQ</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown-company" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
      <div class="dropdown-menu" aria-labelledby="dropdown-company">
        <a class="dropdown-item" href="{{ theme_wazuh_web_url + '/our-customers/' }}" target="_blank" rel="noreferrer noopener">Our customers</a>
        <a class="dropdown-item" href="{{ theme_wazuh_web_url + '/partners/' }}" target="_blank" rel="noreferrer noopener">Our partners</a>
        <a class="dropdown-item" href="{{ theme_wazuh_web_url + '/our-team/' }}" target="_blank" rel="noreferrer noopener">About us</a>
      </div>
    </li>
  </ul>
  {% if theme_display_version_selector %}
  {% include "template-parts/version-selector.html" %}
  {% endif %}
</nav>
</header>