{% if (theme_prev_next_buttons_location == 'bottom' or theme_prev_next_buttons_location == 'both') and (next or prev) %}
    <div class="navigation-buttons" role="navigation" aria-label="previous/next navigation" data-pagefind-ignore="all">
      {% if prev %}
      <a href="{{ prev.link|e }}" title="Previous. {{ prev.title|striptags|e }}">
        <span class="chevron left" aria-hidden="true"></span>
        {{ prev.title|striptags|e }}
      </a>
      {% endif %}
      {% if next %}
      <a href="{{ next.link|e }}" title="Next. {{ next.title|striptags|e }}">
        {{ next.title|striptags|e }}
        <span class="chevron right" aria-hidden="true"></span>
      </a>
      {% endif %}
    </div>
{% endif %}
