{% if theme_breadcrumb_root_title == 'Documentation' %}
{%- set nav_version = version %}
{% if current_version %}
  {%- set nav_version = current_version %}
{% endif %}
{% if nav_version and not is_latest_release %}
{%- set latest_link_href = (theme_wazuh_doc_url + '/current/' + pagename + '.html') if pagename == 'index' else '#' -%}
<div class="no-latest-notice-wrapper">
  <div class="no-latest-notice">
    <span class="no-latest-title">Attention</span>
    {% if is_prerelease %}
    <span class="no-latest-text-wrapper"> This documentation covers an upcoming release that is still under development. For the current stable documentation, check out <a class="link-latest" href="{{ latest_link_href }}">the latest version</a>.</span>
    {% else %}
    <span class="no-latest-text-wrapper"> This documentation does not apply to the most recent version of Wazuh. Check out the docs for <a class="link-latest" href="{{ latest_link_href }}">the latest version</a>.</span>
    {% endif %}
  </div>
</div>
{% endif %}
{% endif %}