{#
    wazuh_doc_theme/header.html
    ~~~~~~~~~~~~~~~~~

    General header to be included within every page of Wazuh Documentation.
#}

{%- block latest %}
  {%- set nav_version = version %}
  {% if current_version %}
    {%- set nav_version = current_version %}
  {% endif %}
  {% if nav_version %}
    <div class="no-latest-notice" data-version="{{ nav_version }}">
      <span>This is the documentation for Wazuh {{ nav_version }}. Check out the <a class="link-latest" href="#">docs for the latest version of Wazuh</a>!</span>
    </div>
  {% endif %}
{% endblock latest %}

{%- block header %}
<header role="banner" class="header no-fixed-top">
  <div class="container-fluid align-items-center">

    <nav id="main-navbar" class="navbar navbar-expand-lg" role="navigation">
      <div class="navbar-brand d-flex justify-content-between" id="logo-title">
        <div id="links-to-home">
          <a class="wazuh-logo-link" href="{{ pathto(master_doc) }}" title="Wazuh">
            <img class="img-responsive" src={{ pathto('_static/img/wazuh_logo_w.png', 1) }} alt="Wazuh" />
            <span class="docs-link">Docs</span>
          </a>
        </div>
      </div> <!-- // #logo-title -->
    </nav>

    <div id="navbarWebMenu">

      <nav class="menuweb-bar d-none d-lg-inline-flex">
        <ul id="menu-header-menuweb" class="nav">
          <li class="menu-item nav-item"><a class="nav-link" href={{ theme_wazuh_web_url + '/product/' }}>Product</a></li>
          <li class="menu-item nav-item"><a class="nav-link" href={{ theme_wazuh_web_url + '/blog/' }}>Blog</a></li>
          <li class="menu-item nav-item"><a class="nav-link" href={{ theme_wazuh_web_url + '/cloud/' }}>Cloud</a></li>
          <li class="menu-item nav-item"><a class="nav-link" href={{ theme_wazuh_web_url + '/professional-services/' }}>Services</a></li>
          <li class="menu-item nav-item"><a class="nav-link" href={{ theme_wazuh_web_url + '/community/' }}>Community</a></li>
          <li class="menu-item nav-item"><a class="nav-link" href={{ theme_wazuh_web_url + '/contact-us/' }}>Contact us</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>

<div class="menu-sub">

  <div class="container-fluid">
    <div class="row">
      <div class="navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-globaltoc" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="blue-bar">
        <div class="submenu">
          <ul id="menu-submenu" class="nav d-none d-lg-flex">
            <li class="menu-item nav-item"><a class="nav-link" href="{{ pathto(master_doc + '/../installation-guide/', 1 ) }}">Installation Guide</a></li>
            <li class="menu-item nav-item"><a class="nav-link" href="{{ pathto(master_doc + '/../getting-started/', 1 ) }}">Getting started</a></li>
            <li class="menu-item nav-item"><a class="nav-link" href="{{ pathto(master_doc + '/../user-manual/', 1 ) }}">User manual</a></li>
            <li class="menu-item nav-item"><a class="nav-link" href="#">Wazuh Cloud</a></li>
            <li class="menu-item nav-item"><a class="nav-link" href="#">Deployment</a></li>
            <li class="menu-item nav-item"><a class="nav-link" href="#">Tools</a></li>
          </ul>
        </div>
        <div class="version-zone d-flex">
          <span class="release-selector-wrapper">
            {% if theme_display_version %}
            <span class="version-label d-none d-sm-inline">Wazuh version</span>
            {% include "versions.html" %}
            {% endif %}
          </span>
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock header %}
