/*
The main theme stylesheet.
Author: Wazuh Inc.
-------------------------------------------------------------- */

* {
  -webkit-font-smoothing: antialiased; /* Correct font weight error in light fonts produced in some browsers */
  word-wrap: break-word;
}

html {
  height: 100%;
}

a:focus{
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

table {
  border: 1px solid #00a9e5;
}

table.docutils col {
  width: auto !important;
}

th, td {
  padding: 7px;
  padding-left: 12px;
  border-color: #00a9e5;
  vertical-align: middle;
}

table tr:nth-child(2n+0){
  background: #f4f4f4;
}

th {
  background-color: #00a9e5;
  color: #fff;
}

.no-bullets li::before {
  content: none !important;
}

.nowrap {
  white-space: nowrap;
}

.wazuh-logo-link img {
  max-width: 110px;
}

.social-bar,
.our-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.central-page-area a img {
  width: auto!important;
  max-width: 100%;
  margin-bottom: 1rem;
}

.no-latest-notice {
    background-color: #fff;
    position: fixed;
		width: 100%;
		height: 80px;
    padding: 10px 15px;
    top: 0;
    z-index: 1000000;
    display: -ms-flexbox;
    display: none;
    align-items: center;
    justify-content: center;
}

.no-latest-docs .no-latest-notice {
  display: flex;
}

.no-latest-docs {
  margin-top: 80px;
}

.no-latest-docs header {
  top: 80px;
}

#page::before {
  background: url(../img/wazuh_bg_head.png), no-repeat center center;
  background-size: cover;
  height: 40px;
  width: 100%;
	content: '';
  display: block;
  position: -webkit-sticky;
  position: sticky;
	top: -64px;
	z-index: 2;
}

.header {
  color: #fff;
  z-index: 3;
  position: absolute;
	top: 0;
  width: 100%;
}

.header > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header .menuweb-bar {
  display: flex;
  align-items: center;
}

.header .menuweb-bar #menu-header-menuweb {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.header #navbarWebMenu {
  height: 100%;
  display: inline-flex;
}

.header .menuweb-bar .nav > li > a {
  padding: 5px 7px;
  color: #fff;
}

.menu-sub .submenu a.nav-link {
  padding: 5px 1em 5px 1em;
  color: #333;
}

.menu-sub .submenu a.nav-link {
  color: #fff;
	height: 100%;
  display: flex;
  align-items: center;
}

.header > .container{
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.header a{
  color: #fff;
}

#links-to-home .wazuh-logo-link {
  vertical-align: text-bottom;
  display: inline-block;
  margin-right: 5px;
}

#links-to-home .wazuh-logo-link:hover,
#links-to-home .wazuh-logo-link:focus {
  text-decoration: none;
}

a .docs-link {
  color: #ffffff;
  vertical-align: text-top;
  display: inline-block;
  line-height: 1.7em;
  font-size: 1.2rem;
}

a .docs-link:hover,
a .docs-link:active {
  color: #ffffff;
}

.social-bar li.active>a:hover{
  color: rgba(51, 51, 51, 0.8);
}

#btn-scroll {
  background-color: hsla(196, 100%, 50%, .8);
  position: fixed;
  bottom: 0;
  right: 15px;
  height: 44px;
  padding: 10px;
  z-index: 100;
  border-radius: 25px 25px 0 0;
  display: none;
  transition: background-color .7s;
}

#btn-scroll:hover,
#btn-scroll:active,
#btn-scroll:focus {
  background-color: hsla(196, 100%, 50%, 1);
  transition: background-color .7s;
}

#btn-scroll .fa {
  color: rgba(255, 255, 255, 0.75);
  font-size: 25px;
  transition: color .7s;
}

#btn-scroll:hover .fa,
#btn-scroll:active .fa,
#btn-scroll:focus .fa {
  color: #ffffff;
  transition: color .7s;
}

.button-area-flex {
  padding: 0 10%;
}

header .menuweb-bar .menu-item a {
  font-size: 1rem;
}

.menu-item.last-item a {
  padding-right: 0 !important;
}

.menu-sub {
  background: #00a9e5;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.no-latest-docs .menu-sub {
  top: 80px;
}

#search-lg {
  display: none;
  min-height: 45px;
}

.menu-sub #search-lg .no-searchbox {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  padding: 10px 0;
}

.menu-sub .submenu{
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
          align-items: center;
}

.menu-sub .version-zone {
  height: 100%;
	padding: 8px 15px;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
          align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.version-label {
  color: #fff;
  font-size: .88rem;
  padding-right: 1em;
}

#capabilities > p {
  margin-bottom: 1rem;
}

#capabilities .capab{
  margin-top: 30px;
}

.content-card {
  margin-bottom: 0.5em;
}

#carouselWazuhDocu{
  width: 100%;
  margin: 1rem auto 2rem auto;
}

.navigation-buttons {
  border-top: 1px solid rgba(0, 169, 229, 0.2);
}

.navigation-buttons .btn {
  padding: 15px 0;
  font-size: .88rem;
  white-space: normal;
}

footer {
  font-size: 0.88rem;
  background-color: #0094ce;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 30px;
}

footer a,
footer {
  color: #ffffff;
}

.copyright {
  color: #ffffff;
  text-align: center;
  line-height: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.menu-item.rrss a{
  padding-left: 10px;
  padding-right: 10px;
}

.social-bar .fa {
  font-size: 20px;
}

footer .fa {
  font-size: 18px;
}

.footer-phone{
  padding-top: 5px;
}

.footer-phone .widget_text .textwidget{
  font-size: 0.87rem;
}

.footer-phone .widget_text .textwidget p {
  text-align: center;
}

.footer-phone .fa{
  font-size: 0.87rem;
  margin-right: 5px;
}


footer .mailing-list {
  margin-top: 20px;
  margin-bottom: 10px;
}

footer .logo a:hover,
footer .logo a:focus {
  opacity: 1;
}

footer a:focus img,
footer a:focus .fa {
  outline: 1px dotted #ffffff;
}

ul, ol, dl {
	padding-left: 1rem;
}

ol.arabic {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
ol.arabic li {
  display: block;
  margin-left: 2em;
}
ol.arabic li::before {
  display: inline-block;
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

.footer-column:not(.white-bullets) ul {
  max-width: 165px;
}

.footer-column.white-bullets ul {
  width: 180px;
}

.social-bar .menu-item a:hover,
.social-bar .menu-item a:active,
.social-bar .menu-item a:focus,
.social-bar .menu-item:hover a,
.social-bar .menu-item.active a,
.social-bar .menu-item a:active,
.social-bar .menu-item.active a:active {
  background-color: transparent;
}

.page .dynamic-content ul li::before,
.white-bullets ul li::before {
  content: '\f0da';
  display: inline-block;
  font: normal normal normal 15px/.5 FontAwesome;
  width: 12px;
}

#main-content .toctree-wrapper > ul > li::before,
#main-content ul.simple > li::before {
  content: '\f111';
  font: normal normal normal 8px/1 FontAwesome;
  color: #00a9e5;
  padding-left: 0.5rem;
  position: relative;
  bottom: 0.25rem;
  left: -0.5rem;
}

.toctree-wrapper > ul,
ul.simple,
main ol > li > ul {
    font-size: 1rem;
}

ol.loweralpha {
  list-style-type: lower-latin;
}

li.toctree-l1 > a {
	position: relative;
  font-size: 1rem;
}

li.toctree-l2 > a,
li.toctree-l3 > a,
li.toctree-l4 > a {
  font-size: 0.88rem;
  position: relative;
}

#navbar-globaltoc.show, #navbar-globaltoc.collapsing {
  right: 0;
  left: 0;
  background-color: #f8f8f8;
  overflow: auto;
  position: fixed;
  z-index: 2;
}

#navbar-globaltoc.show {
  height: calc(100vh - 44px);
  top: 88px;
  transition: top .3s;
}

.no-latest-docs #navbar-globaltoc.show,
.no-latest-docs #navbar-globaltoc.collapsing {
	top: 170px;
	height: calc(100vh - 170px);

}

.scrolled .no-latest-docs #navbar-globaltoc.show,
.scrolled .no-latest-docs #navbar-globaltoc.collapsing {
	top: 127px;
	height: calc(100vh - 127px);
}

.scrolled #navbar-globaltoc.show, .scrolled #navbar-globaltoc.collapsing {
  top: 44px;
  position: fixed;
  transition: top .3s;
}

#globaltoc .toc-toggle-btn {
  position: absolute;
  background: transparent;
	border: none;
  top: 0;
  right: 0.8rem;
  width: 1.2rem;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
	cursor: pointer;
}

#globaltoc .toc-toggle-btn .toc-toggle-icon {
  display: flex;
  align-self: center;
  width: 11px;
  height: 11px;
  padding: 1px;
  font: normal normal normal 9px/1 FontAwesome;
  text-rendering: auto;
}

#globaltoc .toc-toggle-btn .toc-toggle-icon:after {
	content: '\f078';
}

#globaltoc .show > a > .toc-toggle-btn .toc-toggle-icon:after {
	content: '\f077';
}

#globaltoc > ul .show > ul > li:not(.show){
  max-height: 80px;
	opacity: 1;
	transition: max-height ease .3s, opacity ease 0.3s;
}

#globaltoc > ul .show.initial > ul > li:not(.show){
  transition: none !important;
}

#globaltoc > ul li:not(.show) > ul > li {
	max-height: 0;
	opacity: 0;
	border-width: 0px;
	transition: max-height ease .3s, opacity ease 0.3s;
}

#globaltoc li {
	overflow: hidden;
	border-bottom: 1px solid rgba(59, 59, 59, 0.2);
}

#globaltoc li:first-child {
	border-top: 1px solid rgba(59, 59, 59, 0.2);
}

#globaltoc li:last-child {
	border-bottom: 1px solid rgba(59, 59, 59, 0.0);
}

#globaltoc li.toctree-l1 a {
  width: 360px;
}

#globaltoc li.toctree-l1 a:hover {
	color: #0094ce;
	background: rgba(255, 255, 255, 0.7);
}

#globaltoc li.toctree-l1 > a {
  display: block;
  padding: 0.5em 2.2em 0.5em 1.5rem;
}

li.toctree-l2 > a {
  display: block;
  padding: 0.6em 1em 0.6em 2.55rem;
}

li.toctree-l3 > a {
  display: block;
  padding: 0.6em 1em 0.6em 3.3rem;
}

li.toctree-l4 > a {
  display: block;
  padding: 0.6em 1em 0.6em 4.3rem;
}

#globaltoc ul {
  display: block;
  width: 100%;
}

ul li.toctree-l1 a.current.reference.internal,
ul li.toctree-l1 .current > .current.leaf {
  color: #0094ce;
  background: rgba(255, 255, 255, 0.7);
}

#globaltoc li.toctree-l1.current > a,
#globaltoc li.toctree-l1.current > a.current,
#globaltoc li.toctree-l2.current > a,
#globaltoc li.toctree-l2.current > a.current,
#globaltoc li.toctree-l3.current > a,
#globaltoc li.toctree-l3.current > a.current,
#globaltoc li.toctree-l4.current > a,
#globaltoc li.toctree-l4.current > a.current,
#globaltoc li.toctree-l1 a.current.reference.internal,
#globaltoc .current.leaf {
	font-weight: 800;
}

#globaltoc li.toctree-l1 li.toctree-l3 > a.leaf.current::before,
#globaltoc li.toctree-l1 li.toctree-l3.current > .leaf::before {
  left: 2em;
}

#globaltoc li.toctree-l1 li.toctree-l4 > a.leaf.current::before,
#globaltoc li.toctree-l1 li.toctree-l4.current > .leaf::before {
  top: 0.88em;
  left: 3em
}

li.toctree-l1 a,
ul.simple a {
  color: #333333;
}

main li.toctree-l1 a:hover {
  color: #00a9e5;
}

main li.toctree-l1,
main li.toctree-l2,
main ul.simple li {
  position: relative;
}

main li.toctree-l1 ul {
  list-style: circle;
  color: #00a9e5;
  padding-left: 2.3em;
}

main .simple > li > dl > dd > ul > li:before {
    content: '\f10c ';
    display: inline-block;
    font: normal normal normal 8px/1em FontAwesome;
    bottom: 0.2rem;
    position: relative;
    width: 14px;
    color: #00a9e5;
}

main li.toctree-l1 a {
  padding: 1px 0;
  display: inline-block;
}

aside.help {
	display: none;
}

.index h2,
#available-documentation {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.index h3,
.index h3 a {
  color: #333333;
  font-size: 1.4rem;
}

.index a.headerlink {
  content: none;
}

:not(.index) a.headerlink {
  min-height: 1.5rem;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  vertical-align: middle;
	display: none;
}

a.headerlink:before {
  vertical-align: middle;
  color: #ffb600;
  content: '\f0c1';
  display: inline-block;
  font: normal normal normal 15px/.5 FontAwesome;
  text-align: right;
  padding-left: 10px;
  padding-bottom: 4px;
}

a.headerlink:hover,
a.headerlink:active {
  color: transparent;
  text-decoration: none;
}

h1:hover > a.headerlink,
h1:active > a.headerlink,
h2:hover > a.headerlink,
h2:active > a.headerlink,
:not(.index) h3:hover > a.headerlink,
:not(.index) h3:active > a.headerlink,
h4:hover > a.headerlink,
h4:active > a.headerlink,
h5:hover > a.headerlink,
h5:active > a.headerlink,
h6:hover > a.headerlink,
h6:active > a.headerlink {
  display: inline-block;
}

.index h3:hover > a.headerlink,
.index h3:active > a.headerlink {
  display: none;
}

.white-bullets ul li::before {
  color: #ffffff;
}

.footer-column ul li {
  text-align: left;
  padding: 4px 0;
  line-height: 1.2em;
}

footer a:hover,
footer a:active,
.footer-column ul li:hover a,
.footer-column ul li:active a,
.footer-column ul li:focus a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
}

.subnav ul {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.subnav ul>li>a {
  white-space: nowrap;
}

.blue-bar {
  width: calc(100% - 56px);
}

.searchform {
  margin: 0 15px;
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
}

.searchform .search-input-wrapper {
  width: calc(100% - 40px);
  white-space: nowrap;
  margin-left: auto;
  margin-right: 34px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.searchform .search-filter {
  white-space: nowrap;
  margin: 0px 5px 3px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 28px;
}

.searchform .search-filter span {
  display: inline-block;
  height: 100%;
  font-size: 16px;;
  background-color: #edb437;
  padding: 3px 8px;
  color: #ffffff;
  vertical-align: middle;
}

.searchform .search-filter span:first-child {
  border-radius: 5px 0 0 5px;
  margin-right: 1px;
}

.searchform .search-filter span:last-child {
  border-radius: 0 5px 5px 0;
  width: 1.5em;
  position: relative;
}

.form-control:focus{
  color: #333333;
  background: #ffffff;
}

.form-control::-webkit-input-placeholder{
  color: #333333;
}

.form-control::-ms-input-placeholder{
  color: #333333;
}

.form-control::-moz-placeholder{
  color: #333333;
}

.form-control:-ms-input-placeholder{
  color: #333333;
}

.form-control::placeholder{
  color: #333333;
}

.search_main {
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 4;
}

#search-form .form-control {
  background: transparent;
}

.search_main .searchform > .btn-search,
.navbar-toggler.btn-close {
  height: 25px;
  width: 25px;
  border: none;
  position: absolute;
  top: 3px;
  right: 3px;
	cursor: pointer;
}

.search_main .btn-search {
  background-color: #ffffff;
  border-radius: 50px;
  color: #00a9e5;
  padding: 3px;
  transition: background-color ease .3s, color ease .4s;
  right: 0;
  z-index: 20;
}

.scrolled .search_main .searchform > .btn-search {
	top: 2px;
}

.search_main .btn-search:hover,
.search_main .btn-search:active {
  background-color: #00a9e5;
  color: #ffffff;
  padding: 3px;
  transition: background-color ease .4s, color ease .3s;
}

.navbar-toggler.btn-close {
  background-color: transparent;
  padding: 0;
  left: 0;
}

.search_main .x,
.navbar-toggler .x {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.search-filter > .btn-close .x {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn-close .x::before,
.btn-close .x::after,
.navbar-toggler.btn-close::before {
  content: '';
  display: block;
  background-color: #ffffff;
  width: 17px;
  height: 3px;
  border-radius: 20px;
  position: absolute;
  border-bottom: 0;
}

.search_main .searchform .search-filter > .btn-close .x {
  opacity: .7;
}

.search_main .searchform .search-filter > .btn-close .x::before,
.search_main .searchform .search-filter > .btn-close .x::after {
  width: 13px;
  left: 8px;
  height: 2px;
  background-color: #ffffff;
}

.search_main .searchform .search-filter > .btn-close .x::before {
  top: 9px;
}

.search_main .searchform .search-filter > .btn-close .x::after {
  top: 18px;
}

.btn-close .x::before {
  top: 5px;
}

.btn-close .x::after {
  top: 19px;
}

.collapsed.btn-close .x::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 17px;
  transition: all ease .4s;
}

:not(.collapsed).btn-close .x::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 22px;
  left: 1px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  transition: all ease .4s;
}

.collapsed.btn-close .x::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  width: 17px;
  transition: all ease .4s;
}

:not(.collapsed).btn-close .x::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 22px;
  left: 1px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  transition: all ease .4s;
}

.search_main .btn-search .fa {
  font-size: 20px;
  line-height: .2;
}

.search_main .form-control {
  border: none;
  height: auto;
  padding: 6px 10px;
  color: #00a9e5;
  box-shadow: none;
  border-radius: 0px;
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 1.2;
}

.search_main .form-control:focus {
  box-shadow: none;
  border: none;
}

main li.toctree-l1 > a,
ul.simple > li > a {
  color: #333;
}

main li.toctree-l1 > a:hover,
ul.simple > li > a:hover {
  color: #0094ce;
}

main li.toctree-l2 > a {
  padding: 1px 0;
}

footer .logo {
  max-width: 155px;
  width: 100%;
  margin: 20px auto 30px;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1.12rem;
  display: block;
  line-height: 1.1;
}

.our-info .contact-info {
  display: table;
  margin: 0 auto 70px;
  font-weight: 400;
}

.page .our-info p {
  margin-bottom: 20px;
}

.our-info div>p:not(.text-center) {
  text-align: left;
  max-width: 340px;
  padding: 0;
  line-height: 1.3em;
}

footer .contact-info > div {
  line-height: 1.6;
}

footer .contact-info .fa {
  padding-right: 6px;
  height: 1.2em;
}

footer .contact-info .fa-paper-plane-o {
  font-size: 0.97em;
  font-weight: bold;
}

.footer-column ul li>a {
  font-weight: 400;
}

.footer-column {
  padding: 20px 15px;
  text-align: center;
}

.footer-column:nth-child(1) ul {
  max-width: 100%;
}

.footer-column:nth-child(1) .mailing-list {
  font-size: 12px;
}

.footer-column:nth-child(1){
  font-size: 0.87rem;
}

.footer-column ul,
.full-toctree-nav ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-block;
}

.full-toctree-nav {
  padding: 0;
  background-color: #eaeaea;
  z-index: 1;
  width: 0;
  transition: width 0.3s;
}

.widget_text .textwidget {
  font-weight: 400;
}

.page.page-404 > div {
  position: relative;
  background-image: url('images/wazuh_404_bg_xs.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 420px;
}

.page.page-404 #errorpage-content {
  padding: 20px 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page.page-404 #errorpage-content p,
.page.page-404 #errorpage-content h2 {
  color: #ffffff;
}

.page.page-404 #errorpage-content h2 {
  font-size: 66px;
  margin-top: 0.7em;
  text-align: center;
  display: block;
}

.page.page-404 #errorpage-content p {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

.page.page-404 #errorpage-content p span {
  display: block;
}

.page.page-404 #errorpage-content .button-area {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.page strong,
.page b {
  font-weight: 700;
}

.page-nav {
  text-align: center;
}

.navbar-toggler .fa-bars {
  font-size: 25px;
}

.navbar-toggler.btn-close:not(.collapsed)::before {
  opacity: 0;
	top: 22px;
  transition: all ease .4s;
}

.navbar-toggler.btn-close.collapsed::before {
  opacity: 1;
  top: 22px;
  transition: all ease .4s;
}

h1.smaller-title {
  font-size: 1em!important;
}

.vertically-centered {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

footer p {
  color: #333333;
}

form {
  margin-left: auto;
  margin-right: auto;
}

form .acceptance-line {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

-webkit-input-placeholder {
  opacity: 1;
  color: rgba(51 ,51, 51, 0.6);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(51 ,51, 51, 0.6);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: rgba(51 ,51, 51, 0.6);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: rgba(51 ,51, 51, 0.6);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: rgba(51 ,51, 51, 0.6);
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: rgba(51 ,51, 51, 0.6);
}

select, option {
  -webkit-appearance: none; /* WebKit/Chromium */
  -moz-appearance: none; /* Gecko */
}

.release-selector-wrapper {
  align-self: center;
}

.version {
  position: relative;
}

select#select-version {
  border: none;
  padding: 2px 31px 2px 8px;
  cursor: pointer;
  position: relative;
  font-size: 0.85rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

select#select-version option {
  color: #333333;
}

.version::after {
  position: absolute;
  top: 0.48rem;
  right: 10px;
  width: 0.5rem;
  height: 0.5rem;
  font: normal normal normal 1em/.5 FontAwesome;
  content: '\f0d7';
  color: #ffffff;
  pointer-events: none;
}

/* Internet Explorer 10–11 and Edge */
select::-ms-expand {
  display: none;
}

form .button-area {
    width: 100%;
}

form .label-check,
form:not(.searchform) [type="submit"] {
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 0;
}

form .label-check {
  width: 100%;
}

form [type=submit] {
  background-color: #00a9e5;
  box-shadow: none;
  border: none;
  color: #ffffff;
  padding: 15px 25px;
}

form [type=submit]:disabled {
  opacity: .4;
  cursor: not-allowed;
}

.button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-area-footer {
  display: block;
  text-align: right;
  right: 15px;
  left: 15px;
  bottom: -15px;
}

#page div .flex-container {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
}

#page form p {
  padding: 0;
  margin-bottom: 0;
}

.central-page-area main ul li {
  padding: 5px 0;
}

.central-page-area main ul li.toctree-l2 {
  padding: 5px 0;
}

p,
ul {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

table,
a[data-lightbox] img {
  margin-bottom: 2em;
}

.central-page-area #main-content {
  margin-bottom: 1.5rem;
	transition: max-width 0.3s, flex 0.3s;
}

.central-page-area p strong,
.central-page-area ul strong,
.central-page-area ol strong {
  font-weight: 700;
}

h1 {
  color: #ffffff;
  margin: 1.5rem auto;
  font-size: 32px;
}

#search-results h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
}

h4, h5, h6 {
  text-align: center;
}

ul {
  padding-left: 0;
  list-style: none;
}

#subfooter {
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
}

#main-footer .fa {
  color: #ffffff;
}

#subfooter a:hover,
#subfooter a:focus,
#subfooter a:active,
#subfooter li.active,
#subfooter li.active:hover,
#subfooter li.active:focus,
#subfooter li.active:active {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
}

.breadcrumb .fa {
  color: #00a9e5;
}

blockquote code,
blockquote pre {
  color: #333 !important;
  background: rgba(0, 169, 229, 0) !important;
}

.results-quantity {
  font-size: 14px;
  line-height: 1.9em;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  display: block;
  margin-left: auto;
}

.align-left {
  display: block;
  margin-right: auto;
}

#welcome-to-wazuh .screenshots.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 2em -4px 0 -4px;
  max-width: 100%;
}

#welcome-to-wazuh a[data-lightbox] {
  padding: 0 4px;
}

#welcome-to-wazuh a[data-lightbox] img {
  margin-bottom: 6px;
  max-width: 100%;
}

#page #welcome-to-wazuh .topic .topic-title {
  font-family: 'Open Sans', sans-serif;
}

#welcome-to-wazuh .topic .topic-title::before {
	display: inline-block;
  font: normal normal normal 1.5rem/1 'wazuh-icons';
  width: 1.3em;
  font-size: 32px;
  margin-right: 10px;
  color: #00a9e5;
  vertical-align: middle;
	font-family: 'wazuh-icons' !important;
  speak: none;
}

#welcome-to-wazuh .topic.security .topic-title::before {
	content: '\e901';
}

#welcome-to-wazuh .topic.intrusion .topic-title::before {
	content: '\e910';
}

#welcome-to-wazuh .topic.logdata .topic-title::before {
  content: '\e912';
}

#welcome-to-wazuh .topic.fim .topic-title::before {
  content: '\e90e';
}

#welcome-to-wazuh .topic.vulne .topic-title::before {
	content: '\e91c';
}

#welcome-to-wazuh .topic.config .topic-title::before {
	content: '\e907';
}

#welcome-to-wazuh .topic.incident .topic-title::before {
	content: '\e91a';
}

#welcome-to-wazuh .topic.compliance .topic-title::before {
	content: '\e914';
}

#welcome-to-wazuh .topic.cloud .topic-title::before {
	content: '\e904';
}

#welcome-to-wazuh .topic blockquote{
  padding-left: 5px;
}

#search-results .highlighted {
  background-color: #fff200;
}

/* Overrides Bootstrap style
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6,
#page .topic .topic-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #0094ce;
  text-align: left;
  line-height: 1.2;
  display: inline-block;
}

#page .topic .topic-title{
  color: #333333;
}

h2, h3, h4, h5, h6,
#page .topic .topic-title {
  margin: 0.1rem 0 0.8rem 0;
}

h1, h2, h3, h4, h5, h6 {
  width: auto;
}

#page .topic .topic-title {
	width: 100%;
  font-weight: bold;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 169, 229, 0.4);
}

h3,
#page .topic .topic-title {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 15px;
}

hr {
  width: 100%;
  border-color: transparent;
  clear: both;
}

p {
  text-align: left;
  margin-bottom: 1rem;
  line-height: 1.4;
}

ul {
  text-align: left;
  margin-bottom: 1rem;
}

li {
  line-height: 1.4;
}

pre {
  margin-bottom: 0;
  font-size: 0.94rem;
  color: #333333;
}

code,
pre {
  font-family: "Fira Mono", monospace;
}

code {
  color: #000000;
  background: #f4f4f4;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active,
.nav > li.active > a:focus,
.nav > li.active > a:hover,
.nav > li.active > a:active {
  background-color: rgba(255, 255, 255, 0);
}

header li.menu-item > a.nav-link:focus,
header li.menu-item > a.nav-link:hover {
	color: rgba(255,255,255,0.75);
}

.nav > li > a {
  padding: 5px 7px;
}

.footer-column:nth-child(1) .nav > li > a {
  padding: 4px 7px;
}

.footer-column:nth-child(1) .nav > li:first > a {
  padding-left: 0;
}

label {
  font-weight: 400;
}

blockquote {
  background-color: #fff;
  margin-bottom: 1rem;
  overflow: auto;
}

.admonition::before {
	position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  display: inline-flex;
  text-align: -webkit-auto;
	padding-top: 1.3rem;
  align-items: flex-start;
  justify-content: center;
	font: normal normal normal 2em/.5 FontAwesome;
	color: #ffffff;
}

.admonition {
  margin-bottom: 1.3rem;
  overflow: auto;
	padding: 0;
	position: relative;
}

.admonition p {
  padding: 1rem;
  margin: 0;
}

p.admonition-title {
  color: #ffffff;
  font-size: 1.2rem;
	padding: 0.25rem 1rem;
}

p.first.admonition-title::before,
.no-latest-notice span::before {
  display: inline-block;
  font: normal normal normal 1em/.5 FontAwesome;
  width: 12px;
  margin-right: 0.75em;
}

.note {
	background-color: rgba(0, 169, 229, 0.2);
}

.warning {
	background-color: rgba(255, 183, 0, 0.2);
}

.note .admonition-title {
  background-color: #00a9e5;
}

.warning .admonition-title {
  background-color: #ffb600;
}

.note p.first.admonition-title::before {
  content: '\f06a';
  color: #ffffff;
}

.warning p.first.admonition-title::before,
.no-latest-notice span::before {
  content: '\f071';
  color: #ffffff;
}

.admonition .highlight-console {
  background-color: transparent;
  padding: 5px;
  margin-bottom: 0.5em;
}

.versionadded span.versionmodified, .deprecated span.versionmodified{
  font-size: 1em;
  font-weight: bold;
}

.versionadded > p > span::before, .deprecated span.versionmodified::before {
  content: '\f06a';
  display: inline-block;
  font: normal normal normal 1em/.5 FontAwesome;
  width: 12px;
  margin-right: 0.75em;
}

.deprecated span.versionmodified::before{
  color: #ffb600;
}

.versionadded > p > span::before{
  color: #00a9e5;
}

a {
  color: #0094ce;
}

table a {
  color: #333;
}

a:hover,
a:active {
  color: #0094ce;
  text-decoration: none;
}

nav a,
footer a {
  text-decoration: none;
}

.breadcrumb {
  font-weight: 400;
  background-color: #ffffff;
  color: #00a9e5;
  padding: 0;
  margin-bottom:10px;
}

.breadcrumb a {
  color: #0094ce;
  font-weight: 400;
}

.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:active {
  color: #ffb600;
}

#main-navbar {
  background-image: none;
  box-shadow: none;
  border: none;
  margin: 0;
  border-radius: 0;
  position: relative;
  padding: 0;
  display: inline-flex;
  width: 100%;
}

#main-navbar .navbar-nav > .open > a,
#main-navbar .navbar-nav > .active > a {
  box-shadow: none;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-nav >li > a {
  text-shadow: none;
}

.navbar li>a {
  text-shadow: none;
  text-align: center;
}

.menu-sub .navbar-toggler {
  margin: 6px 3px 0;
  border: none;
  padding: 4px 13px;
}

.menu-sub .navbar-toggler .navbar-toggler-icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.menu-sub .navbar-toggler {
  border-color: transparent;
	position: unset;
	height: 40px;
	width: 40px;
}

#main-navbar .navbar-nav>li>a {
  color: #ffffff;
  font-weight: 400;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #333333;
  line-height: 1.4;
  min-height: 100%;
}

#page {
  min-height: 100%;
}

::-moz-selection { /* Code for Firefox */
  background: hsla(196, 100%, 50%, .9);
  color: #000;
}

::selection {
  background: hsla(196, 100%, 50%, .9);
  color: #000;
}

nav.collapse.navbar-collapse.navbar-main-collapse {
  /* position: absolute;
  top: 59px;
  left: 0;
  right: 0; */
}

#main-navbar .navbar-collapse,
#main-navbar .navbar-form {
  border: none;
  box-shadow: none;
}

.navbar-brand {
  margin: 0;
}

.input-group-addon,
.input-group-btn {
  width: 18%;
}

#useful-links {
  margin-top: 2em;
  margin-bottom: 2em;
}

ul#breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-top: 1em;
  max-width: 100%;
}

ul#breadcrumbs .fa {
  color: #0094d0;
  padding: 0 4px;
}

ul#breadcrumbs li,
ul#breadcrumbs a {
  font-size: 0.87rem;
  padding-top: 0;
}

.edit-repo {
  font-size: 0.75rem;
  width: 100%;
  padding: 8px 15px;
}

.edit-repo a {
  color: #0094d0;
}

[class*="highlight-"] {
  overflow: auto;
  margin-bottom: 1.5rem;
  background-color: #f4f4f4;
}

blockquote [class*="highlight-"],
blockquote ul,
blockquote blockquote {
	margin-bottom: 1em;
}

table.highlighttable {
  border: none;
  margin-bottom: 0;
}

div.highlight pre {
  padding: 0.5em 1em;
}

.linenos {
  padding: 0 0.5em 0 1em !important;
  border-right: 1px solid #00a9e5;
}

@media (min-width:576px){

	.no-latest-notice {
		height: 60px;
	}

	.no-latest-docs .menu-sub,
	.no-latest-docs header	{
    top: 60px;
	}

	.no-latest-docs {
		margin-top: 60px;
	}

	.no-latest-docs #navbar-globaltoc.show,
	.no-latest-docs #navbar-globaltoc.collapsing {
		top: 150px;
		height: calc(100vh - 150px);
	}

	.scrolled .no-latest-docs #navbar-globaltoc.show,
	.scrolled .no-latest-docs #navbar-globaltoc.collapsing {
		top: 107px;
		height: calc(100vh - 107px);
	}

  .edit-repo-wrapper {
    position: absolute;
    right: 0;
    background: #cbcbcb;
    border-radius: 0 0 0 10px;
    color: #ffffff;
    z-index: 1;
  }
  .edit-repo-wrapper a{
    color: #ffffff;
  }

  ul#breadcrumbs {
    max-width: 80%;
  }

	#accordion-capabilities .collapse:not(.show) {
		display: none;
	}

	#accordion-capabilities .card-text {
		padding: 15px 30px 0 30px;
	}

  h1.smaller-title {
    font-size: 1.2em!important;
  }

  .button-area-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  form:not(.searchform) [type=submit] {
    font-size: 1.12rem;
    margin: 1.5em 0;
  }

  .page-404 > :first {
    background-size: cover;
    padding-top: calc(100% / 1.19);
  }

  .page-404 #errorpage-content p span {
    display: inline-block;
  }

  .page-404 #errorpage-content {
    padding: 35px 30px 0;
  }

  .page-404 #errorpage-content .button-area {
    bottom: calc(100% * 0.1);
  }

  .page-404 #errorpage-content h2 {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 13.2vw;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    font-size: 13.2vw;
  }

  .page-404 #errorpage-content p {
    font-size: 4.8vw;
  }
}

@media (min-width: 768px){

			.no-latest-notice {
				height: 40px;
			}

			.no-latest-docs .menu-sub,
			.no-latest-docs header	{
				top: 40px;
			}

			.no-latest-docs {
				margin-top: 40px;
			}

			.no-latest-docs #navbar-globaltoc.show,
			.no-latest-docs #navbar-globaltoc.collapsing {
				top: 130px;
				height: calc(100vh - 130px);
			}

			.scrolled .no-latest-docs #navbar-globaltoc.show,
			.scrolled .no-latest-docs #navbar-globaltoc.collapsing {
				top: 86px;
				height: calc(100vh - 86px);
			}

      span.long-text-btn {
        display: none;
      }

      h1.smaller-title {
        font-size: 1.5em!important;
      }

      nav.collapse.navbar-collapse.navbar-main-collapse {
        position: static;
      }

      .searchform .search-input-wrapper {
        margin-left: 5px;
        margin-right: 5px;
      }

      .search_main .btn-close {
        display: none;
      }

      .results-quantity {
        text-align: right;
      }

      h1 {
        font-size: 34px;
      }

      h2 {
        font-size: 28px;
      }

      h3{
        font-size: 23px;
      }

      h4 {
        font-size: 20px;
      }

      h5 {
        font-size: 17px;
      }

      h6 {
        font-size: 15px;
      }

      .footer-column ul {
        max-width: 100%;
      }

      footer #menu-subfooter-social-links{
        display: -ms-flex;
        display: flex;
        justify-content: flex-end;
      }

      #main-footer {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .footer-title {
        min-height: 1.7em;
      }

      nav.our-bar,
      nav.social-bar {
        display: block;
        height: 30px;
      }

      /* .scrolled-down {
        padding-top: 100px;
        -webkit-transition: padding-top .5s;
        transition: padding-top .5s;
      } */

      :not(.scrolled-down) .fixed-top {
        transition: top .4s;
      }

      body.scrolled-down .fixed-top {
        top: -120px;
        transition: top .4s;
      }

      .scrolled-down #branding .white-bar {
        height: 44px;
        padding: 4px 15px;
        transition: height .4s, padding .4s;
      }

      .navbar-collapse {
        padding-right: 0;
      }

      .dropdown-toggle::after {
        position: absolute;
        right: 0;
        content: '';
        width: 0.5em;
        top: 0.5em;
        border-left: 5px solid #0000;
        border-right: 5px solid #0000;
        border-top: 5px solid #00a9e5;
        pointer-events: none;
      }

      #main-navbar .navbar-nav > li > a:hover,
      #main-navbar .navbar-nav > li > a:focus,
      #main-navbar .navbar-nav > li > a:active,
      #main-navbar .navbar-nav > .active>a,
      #main-navbar .navbar-nav > .active > a:hover,
      #main-navbar .navbar-nav > .active > a:focus {
        background: #ffffff;
       }

      .flex-container {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%
      }

      .search_main .btn-search:hover,
      .search_main .btn-search:active {
        background-color: #00a9e5;
      }

      .page-404 > div {
        background-image: url('images/wazuh_404_bg_desktop.png');
        background-size: 100%;
        padding-top: 600px;
        height: 100%;
        max-height: 600px;
      }

      .page-404 #errorpage-content {
        padding: 46px 15px 0;
      }

      .page-404 #errorpage-content h2 {
        bottom: 16.2vw;
        font-size: 11vw;
      }

      .page-404 #errorpage-content p {
        font-size: 34px;
        font-size: 4vw;
        padding-top: calc(100% * 0.02);
      }

      .page-404 #errorpage-content .button-area {
        bottom: calc(100% * 0.12);
      }

      .button-area-flex {
        max-width: 500px;
        margin: 0 auto;
        flex-direction: row;
      }

      .navbar-brand {
        max-width: 100%;
        transition: padding 0.3s;
      }

      .scrolled-down .navbar-brand {
        padding: 9px 7px;
        transition: padding 0.3s;
      }

      footer {
        padding: 0;
      }

      footer .logo {
        margin: 0 0 25px;
      }

      footer .footer-menu-bar-container ul {
        display: table;
      }

      footer .footer-menu-bar-container li {
        display: table-cell;
      }

      footer .footer-menu-bar-container li.rrss {
        height: 38px;
        padding: 5px;
      }

      .footer-phone .widget_text .textwidget p {
        text-align: left;
      }

      #subfooter {
        text-align: left;
        padding-top: 0;
        height: 0;
        position: relative;
      }

      .menu-subfooter-social-links{
        display: -ms-flex;
        display: flex;
        justify-content: flex-end;
      }

      .copyright {
        text-align: left;
        margin: 0;
        position: absolute;
        bottom: 1em;
      }

      .footer-column {
        padding: 30px 15px;
        text-align: left;
        min-height: 270px;
      }

      footer nav.our-bar,
      footer nav.social-bar {
        margin-left: -7px;
      }

      nav.social-bar ul li {
        padding: 3px 0;
        margin-left: 2px;
      }

      nav.our-bar,
      nav.social-bar {
        display: inline-block;
      }
}

@media (min-width: 992px){

			.admonition::before  {
				padding-top: 0;
				align-items: center;
			}

			#navbar-globaltoc.show, #navbar-globaltoc.collapsing {
				right: auto;
				left: auto;
			}

			#navbar-globaltoc.show {
				bottom: auto;
				height: auto;
				position: -webkit-sticky;
				position: sticky;
			}

			.scrolled #navbar-globaltoc.show, .scrolled #navbar-globaltoc.collapsing {
				top: 50px;
				position: -webkit-sticky;
				position: sticky;
			}

			.scrolled #links-to-home .wazuh-logo-link {
				position: fixed;
				top: 1px;
			}

      .header > .container-fluid {
        padding-top: 8px;
        padding-bottom: 0;
        flex-direction: row;
        display: inline-flex;
        justify-content: space-between;
      }

      .blue-bar {
        font-size: 0.9rem;
      }

      .release-selector-wrapper {
        border-bottom: 3px solid transparent;
      }

			#page::before {
				height: 100px;
			}

			.menu-sub .search_main {
				max-width: 360px;
				margin-left: 360px;
				padding: 6px 30px;
			}

			.menu-sub {
				overflow: hidden;
				background: transparent;
				background: #0000;
				position: absolute;
				width: 100%;
				top: 66px;
			}

			.scrolled .menu-sub {
		    display: block;
        position: fixed;
				top: 0px;
			}

			.no-latest-docs .menu-sub {
				 top: 106px;
			}

			.scrolled .no-latest-docs .menu-sub {
				 top: 40px;
			}

			.scrolled #page::before {
				 top: -60px;
			}

			.scrolled #page.no-latest-docs::before {
				 top: -20px;
			}

			.version-zone.d-lg-flex {
				justify-content: flex-end;
				padding: 0 15px 8px;
			}

			.scrolled .version-zone.d-lg-flex {
				padding: 8px 15px;
			}

      #welcome-to-wazuh .topic p.topic-title + p{
        padding-right: 15px;
      }

      #globaltoc > ul {
        border-bottom: 1px solid rgba(59, 59, 59, 0.2);
      }

			#globaltoc .toc-toggle-btn {
				display: none;
			}

			#globaltoc .toc-toggle > a:hover  > .toc-toggle-btn {
				display: flex;
			}

      .side-scroll:hover #globaltoc{
        padding-right: 0;
      }

      .index #globaltoc > ul {
        border-bottom: 1px solid transparent;
      }

			aside.help {
				display: block;
				padding-top: 1rem;
			}

			aside.help .title {
				color: #333;
				font-size: 1.2rem;
				padding: 15px 0;
        margin-right: 15px;
			}

      aside.help .btn-help{
        border-radius: 5px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-weight: 500;
        display: inline-block;
        text-align: center;
        margin: 0 0 20px 20px;
        padding: 10px 15px;
        border: none;
        background: #ffb600;
        color: #ffffff;
      }

      #main-navbar {
        padding: 4px 0;
        width: auto;
      }

      #links-to-home {
        max-width: 182px;
        position: relative;
        top: 0.6em;
      }

      #links-to-home .docs-link {
        margin-left: 15px;
        line-height: 2em;
      }

      .scrolled #links-to-home .wazuh-logo-link img {
        max-height: 34px;
				transition: max-height 0.2s;
      }

			#links-to-home .wazuh-logo-link img {
        max-height: 40px;
        max-width: unset;
				transition: max-height 0.2s;
      }

			.search_main {
				width: 360px;
			}

      .search_main .searchform {
        display: flex;
        align-items: center;
        width: 100%;
        justify-self: right;
      }

      #search-lg {
        display: block;
      }

			#search-lg .search_main .searchform {
				padding: 0;
			}


			blockquote {
				padding-left: 1rem;
			}

      #carouselWazuhDocu{
        width: 90%;
        max-width: 1200px;
      }

      #carouselWazuhDocu .carousel-control-prev, #carouselWazuhDocu .carousel-control-next{
        opacity: 0;
      }

      #carouselWazuhDocu .carousel-control-prev:hover {
        opacity: 0.8;
      }

      #carouselWazuhDocu .carousel-control-next:hover {
        opacity: 0.8;
      }

      .searchform {
        margin: 0;
      }

      .search_main .form-control {
        margin-left: 5px;
        margin-right: 15px;
        border: none;
        height: auto;
        padding: 5px 2px;
        color: #333333;
        box-shadow: none;
        border-radius: 0px;
        font-weight: 400;
        line-height: 1.4rem;
      }

      .search_main {
        position: static;
        display: flex;
        padding: 10px 15px;
        max-width: 360px;
        margin: 0;
      }

      .side-scroll:hover aside.help .title{
        margin-right: 0;
      }

      .version-zone {
        padding-right: 0;
      }

      .index #globaltoc .toctree-l1 > a {
        display: block;
      }

      aside.help {
        flex: 0 0 auto;
        padding-right: 0;
        margin-left: 0;
        margin-right: auto;
      }

      .central-page-area {
				flex-wrap: nowrap;
				position: relative;
				z-index: 1;
			}

			#main-content {
        max-width: calc(100% - 360px);
			}

      #main-content.order-0 {
        padding-right: 30px;
      }

      #main-content.order-1 {
        padding-left: 45px;
      }

			.central-page-area a img {
        max-width: 100%;
      }

      .blue-bar {
        display: flex;
        width: 100%;
				height: 40px;
      }

			.breadcrumbs-wrapper {
        display: inline-block;
        width: calc(100% - 60px);
      }

      #welcome-to-wazuh .topic {
        margin-bottom: 1rem;
      }

      #welcome-to-wazuh .topic p.topic-title + p{
        margin-top: 10px;
      }

      #welcome-to-wazuh .topic .topic-title::before {
        width: 27px
      }

      .page-404 #errorpage-content h2 {
        bottom: 12vw;
        font-size: 11vw;
      }

      .page-404 > div {
        max-height: 600px;
        background-position-y: calc(100% * 0.7);
      }

      .page-404 #errorpage-content p {
        padding-top: 0;
      }

      .page-404 #errorpage-content .button-area {
        bottom: 0;
      }

      .footer-column {
        padding: 15px;
      }

      .footer-column .social-bar {
        padding-left: 10px;
        vertical-align: top;
      }

      .footer-column:nth-child(1),
      .footer-column:nth-child(1) .mailing-list {
        font-size: 0.87rem;
      }

      footer .logo {
        margin-bottom: 20px;
      }

      nav.full-toctree-nav {
        min-height: 100vh;
				z-index: 3;
        width: 360px;
				position: static;
        transition: width 0.3s;
      }

      .full-toctree-nav.collapsed {
        flex-basis: 0;
        width: 0;
        transition: all 0.3s;
      }

			nav.full-toctree-nav.reached-top {
        top: 0px;
      }

      .side-scroll {
				position: -webkit-sticky;
				position: sticky;
				top: 50px;
				overflow: hidden;
				max-height: calc(100vh - 55px);
				height: 100%;
        flex-direction: column;
        padding-right: 15px;
        width: 375px;
      }

			.scrolled .side-scroll {
				top: 40px;
			}

      .side-scroll:hover{
        overflow-y: auto;
      }

      .no-latest-docs .side-scroll {
        top: 90px;
      }

			.scrolled .no-latest-docs .side-scroll {
        top: 90px;
      }

      #globaltoc {
        width: 360px;
        margin-left: 0;
        margin-right: auto;
      }

			.scrolled #search-lg {
				min-height: 0;
				opacity: 0;
				overflow: hidden;
				transition: min-height 0.5s, opacity 0.3s;
				margin: 0;
      }

      #search-lg {
        min-height: 52px;
				opacity: 1;
        padding: 0;
        display: block;
				flex: unset;
				transition: min-height 0.3s, opacity 0.3s 0.2s;
      }
}

@media (min-width: 1200px) {

					.menu-sub .search_main {
						margin-left: 345px;
					}

          header > .container-fluid, .menu-sub .container-fluid, footer > .container-fluid, #subfooter > .container-fluid{
            padding: 0 30px;
          }

          #main-content {
            padding-left: 30px;
          }

          #welcome-to-wazuh .topic,
          #welcome-to-wazuh .topic:nth-of-type(even) {
            padding-left: 45px;
            position: relative;
          }

          #welcome-to-wazuh .topic .topic-title::before {
            font-size: 30px;
            position: absolute;
            left: 10px;
            top: -3px;
            width: 50px;
          }

          span.long-text-btn {
            display: inline-block;
          }

          .page-404 #errorpage-content h2 {
            font-size: 132px;
            font-size: 9vw;
            bottom: 8vw;
          }

          .page-404 #errorpage-content p {
            padding-top: 0;
            font-size: 48px;
          }

          .page-404 > div  {
            background-image: url('images/wazuh_404_bg_4k.png');
            background-position-y: bottom;
            padding-top: calc(100% *  0.41);
            max-height: 100%;
            height: 0;
          }

          .page-404 #errorpage-content .button-area {
            padding-bottom: 0;
          }
}

@media (min-width: 1921px) {
          .page-404 > div {
            background-image: url('images/wazuh_404_bg_4k.png');
          }

          .page-404 #errorpage-content .button-area {
            bottom: calc(100% * 0.03);
          }
}

/* Highlighted syntax */
.codeblock,
pre.literal-block,
.rst-content .literal-block,
.rst-content pre.literal-block,
div[class^='highlight'] {
  border: 1px solid #e1e4e5;
  padding: 0px;
  margin: 1px 0 24px 0
}

.codeblock div[class^='highlight'],
pre.literal-block div[class^='highlight'],
.rst-content .literal-block div[class^='highlight'],
div[class^='highlight'] div[class^='highlight'] {
  border: none;
  background: none;
  margin: 0
}

div[class^='highlight'] td.code {
  width: 100%
}

.linenodiv pre {
  line-height: 1.5;
}

div[class^='highlight'] pre {
  white-space: pre;
  margin: 0;
  padding: 12px 12px;
  line-height: 1.5;
  display: block;
  overflow: auto;
}

@media print {
  .codeblock,pre.literal-block,.rst-content .literal-block,.rst-content pre.literal-block,div[class^='highlight'],div[class^='highlight'] pre {
    white-space: pre-wrap
  }
}

pre .hll { background-color: #ffffcc; display: inherit; margin: 0 -1em; padding: 0 1em; }
pre .c { color: #998; font-style: italic } /* Comment */
pre .err {  border: 1px solid #FF0000 ; color: #a61717; background-color: #e3d2d2} /* Error */
pre .k { color: #007020; font-weight: bold } /* Keyword */
pre .o { color: #666666; font-weight: bold } /* Operator */
pre .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
pre .cm { color: #998; font-style: italic } /* Comment.Multiline */
pre .cp { color: #999; font-weight: bold } /* Comment.Preproc */
pre .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
pre .c1 { color: #998; font-style: italic } /* Comment.Single */
pre .cs { color: #999; background-color: #fff0f0; font-weight: bold; font-style: italic } /* Comment.Special */
pre .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
pre .gd .x { color: #000; background-color: #faa }
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #a00 } /* Generic.Error */
pre .gh { color: #999 } /* Generic.Heading */
pre .gi { color: #000; background-color: #dfd } /* Generic.Inserted */
pre .gi .x { color: #000; background-color: #afa }
pre .go { color: #888 } /* Generic.Output */
pre .gp { color: #555 } /* Generic.Prompt */
pre .gs { font-weight: bold }
pre .gu { color: purple; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #a00 } /* Generic.Traceback */
pre .kc { font-weight: bold } /* Keyword.Constant */
pre .kd { font-weight: bold } /* Keyword.Declaration */
pre .kn { font-weight: bold } /* Keyword.Namespace */
pre .kp { font-weight: bold } /* Keyword.Pseudo */
pre .kr { font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #458; font-weight: bold } /* Keyword.Type */
pre .m { color: #099 } /* Literal.Number */
pre .s { color: #d14 } /* Literal.String */
pre .na { color: #333 } /* Name.Attribute */
pre .na { color: teal }
pre .nb { color: #0086b3 } /* Name.Builtin */
pre .nc { color: #458; font-weight: bold } /* Name.Class */
pre .no { color: teal } /* Name.Constant */
pre .nd { color: #555555 } /* Name.Decorator */
pre .ni { color: #purple } /* Name.Entity */
pre .ne { color: #900; font-weight: bold  } /* Name.Exception */
pre .nf { color: #900; font-weight: bold } /* Name.Function */
pre .nl { color: #002070 } /* Name.Label */
pre .nn { color: #555 } /* Name.Namespace */
pre .nt { color: navy } /* Name.Tag */
pre .nv { color: teal } /* Name.Variable */
pre .ow { font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #40a070 } /* Literal.Number.Bin */
pre .mf { color: #099 } /* Literal.Number.Float */
pre .mh { color: #099 } /* Literal.Number.Hex */
pre .mi { color: #099 } /* Literal.Number.Integer */
pre .mo { color: #099 } /* Literal.Number.Oct */
pre .sa { color: #d14 } /* Literal.String.Affix */
pre .sb { color: #d14 } /* Literal.String.Backtick */
pre .sc { color: #d14 } /* Literal.String.Char */
pre .sd { color: #d14 }
pre .dl { color: #d14 } /* Literal.String.Delimiter */
pre .sd { color: #d14; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #d14 } /* Literal.String.Double */
pre .se { color: #d14 } /* Literal.String.Escape */
pre .sh { color: #d14 } /* Literal.String.Heredoc */
pre .si { color: #d14; } /* Literal.String.Interpol */
pre .sx { color: #d14 } /* Literal.String.Other */
pre .sr { color: #009926 } /* Literal.String.Regex */
pre .s1 { color: #d14 } /* Literal.String.Single */
pre .ss { color: #990073 } /* Literal.String.Symbol */
pre .bp { color: #999 } /* Name.Builtin.Pseudo */
pre .fm { color: #06287e } /* Name.Function.Magic */
pre .vc { color: teal } /* Name.Variable.Class */
pre .vg { color: teal } /* Name.Variable.Global */
pre .vi { color: teal } /* Name.Variable.Instance */
pre .vm { color: #bb60d5 } /* Name.Variable.Magic */
pre .il { color: #099 } /* Literal.Number.Integer.Long */
pre .gc { color: #999; background-color: #EAF2F5 }
