.wazuh-light-box-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  content: "";
  background: rgba(0 0 0 / 80%);
}

.wazuh-image {
  cursor: pointer;
}

#wazuh-light-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  pointer-events: none;
  * {
    box-sizing: content-box;
  }
  .read-only {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    color: rgba(0 0 0 / 0%);
  }
  .wazuh-light-box-slides-container {
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: all;
  }
  .wazuh-light-box-slide {
    position: fixed;
    z-index: 101;
    display: block;
    padding: 20px;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    &.active {
      pointer-events: auto;
      opacity: 1;
      transition: opacity .3s;
      .wlb-prev-button,
      .wlb-next-button {
        display: block;
      }
    }
  }
  .wlb-loading {
    min-width: 50px;
    min-height: 50px;
    margin-bottom: 40px;
    background-color: #fff;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 4px;
  }
  .wlb-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }
  .wlb-image {
    display: block;
    min-width: 50px;
    max-width: calc(100vw - 50px);
    height: auto;
    min-height: 50px;
    max-height: calc(100vh - 6rem);
    margin: 0 auto;
    background: #fff;
  }
  .wlb-data-container {
    display: block;
    height: 40px;
  }
  .wlb-title-container {
    padding-top: 3px;
    font-size: 14px;
    color: #ccc;
  }
  .wlb-number-container {
    padding-top: 3px;
    font-size: 12px;
    color: #999;
  }
  .wlb-close-button {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 110;
    width: 30px;
    height: 30px;
    padding-right: 0;
    padding-left: 30px;
    overflow: hidden;
    text-align: right;
    pointer-events: all;
    cursor: pointer;
    background: url("../img/close.png") top right no-repeat;
    border: none;
    outline: none;
    opacity: .7;
    transition: opacity .2s;
    &:hover,
    &:focus {
      opacity: 1;
      transition: opacity .2s;
    }
  }
  .wlb-prev-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
    width: 34%;
    height: 100%;
    pointer-events: all;
    cursor: pointer;
    background: url("../img/prev.png") top right no-repeat;
    background-position: left center;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity .6s;
    &:hover,
    &:focus {
      opacity: .7;
      transition: opacity .6s;
    }
  }
  .wlb-next-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 110;
    width: 66%;
    height: 100%;
    pointer-events: all;
    cursor: pointer;
    background: url("../img/next.png") top right no-repeat;
    background-position: right center;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity .6s;
    &:hover,
    &:focus {
      opacity: .7;
      transition: opacity .6s;
    }
  }
  .wlb-prev-button,
  .wlb-next-button {
    display: none;
  }
}

#wazuh-light-box-overlay,
#wazuh-light-box {
  display: none;
  flex: 1 1 100%;
  opacity: 0;
  transition: opacity .3s;
}

#wazuh-light-box-overlay.wlb-showing,
#wazuh-light-box.wlb-showing {
  display: flex;
}

#wazuh-light-box-overlay.wlb-visible,
#wazuh-light-box.wlb-visible {
  display: flex;
  opacity: 1;
  transition: opacity .3s;
}
