/* -----------------------------------------------------------------------------
  PART: Footer

  Style for the footer under the column containing the element main and the
  right sidebar.
----------------------------------------------------------------------------- */

footer {
  position: absolute;
  right: 0;
  left: $leftSidebarWidth;
  height: $footerHeight;
  padding: 15px 15px 15px 30px;

  ul {
    padding-left: 15px;
    margin: 0;
  }

  .nav-link {
    padding: 0 10px;
  }
}

/* Light theme -------------------------------------------------------------- */

body {
  footer {
    background: $light_ColorFooter;
    
    .nav-link {
      color: $light_ColorMainText;

      &:hover {
        color: $light_ColorPrimaryLighter;
      }
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  footer {
    background: $dark_ColorFooter;
    
    .nav-link {
      color: $dark_ColorMainText;

      &:hover {
        color: $dark_ColorPrimaryLighter;
      }
    }
  }
}
