/* -----------------------------------------------------------------------------
  PART: Footer

  Style for the footer under the column containing the element main and the
  right sidebar.
----------------------------------------------------------------------------- */

footer {
  position: absolute;
  right: 0;
  left: $leftSidebarWidth;
  height: $footerHeight;
  padding: 15px 15px 15px 30px;
  background: $wuiColorNeutralLighter;

  ul {
    padding-left: 15px;
    margin: 0;
  }

  .nav-link {
    padding: 0 10px;
    color: $wuiColorDarkestShade;

    &:hover {
      color: $wuiColorPrimaryLighter;
    }
  }
}
