/* -----------------------------------------------------------------------------
  PART: HEADER

  Style for the header/top bar of the page.
----------------------------------------------------------------------------- */

@import "../components/brand";
@import "../components/navbar-menu";
@import "../components/version-selector";

header {
  height: $headerHeight;
  background: $wuiColorEmptyShade;
  box-shadow: 0 4px 12px 0 rgba($wuiColorPrimaryLighter, .15);

  .navbar {
    height: $headerHeight;
  }
}
