/* -----------------------------------------------------------------------------
  PART: LEFT SIDEBAR

  Style for the left sidebar, which contains the global TOC.
----------------------------------------------------------------------------- */

@import "../components/search-box";
@import "../components/global-toc";

#left-sidebar {
  top: $header-height-xs;
  flex-shrink: 0;
  flex-grow: 0;

  @include media-max(xl) {
    z-index: 110;
    height: 0;
  }

  @include media-min(xl) {
    top: $header-height-xl;
    display: block;
  }

  @include media-min(xl) {
    flex-basis: $left-sidebar-width-narrow;
    width: $left-sidebar-width-narrow;
  }

  .sidebar-container {
    @include media-max(xl) {
      position: fixed;
      top: $header-height-xs;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - #{$header-height-xs});
      pointer-events: none;
    }
    @include media-min(xl) {
      position: fixed;
      position: sticky;
      top: $header-height-xl;
      height: calc(100vh - #{$header-height-xl});
      padding: 30px 0;
    }
    @include media-min(xl) {
      width: $left-sidebar-width-narrow;
    }

    & > nav {
      padding-top: 10px;
    }

    #search-box-wrapper {
      padding: 20px 15px 15px 15px;
      @include media-max(xl) {
        position: fixed;
        z-index: 10;
        width: 100%;
        pointer-events: all;
        padding: 35px 15px 35px 15px;
      }
      @include media-min(xl) {
        padding-top: 0;
      }

      &.collapse:not(.show) {
        @include media-min(xl) {
          display: block;
        }
      }

      &.show + #global-toc,
      &.collapsing + #global-toc {
        @include media-max(xl) {
          padding-top: 114px;
          transition: padding-top .3s;
        }
      }
    }
  }
}

/* Light theme -------------------------------------------------------------- */

.light-theme {
  #left-sidebar {
    background-color: $light-color-sidebar-space;
    #global-toc,
    #search-box-wrapper {
      background-color: $light-color-sidebar-space;
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  #left-sidebar {
    background-color: $dark-color-sidebar-space;
    #global-toc,
    #search-box-wrapper {
      background-color: $dark-color-sidebar-space;
    }
  }
}
