/* -----------------------------------------------------------------------------
  PART: RIGHT SIDEBAR

  Style for the left sidebar, which contains the local TOC.
----------------------------------------------------------------------------- */

@import "../components/mode-switch";
@import "../components/local-toc";

#right-sidebar {
  right: 0;
  top: $header-height-xs;
  flex-shrink: 0;
  flex-grow: 0;

  @include media-only(xl, xxl) {
    flex-basis: $right-sidebar-width;
    width: $right-sidebar-width;
  }
  @include media-min(xxl) {
    flex-basis: $right-sidebar-width;
    width: $right-sidebar-width;
  }

  .sidebar-container {
    @include media-min(xl) {
      position: fixed;
      position: sticky;
      top: $header-height-xl;
      right: 0;
      bottom: $footer-height;
      width: calc(100% - 15px);
      padding: 30px 16px;
      margin-left: auto;
      overflow: hidden;
    }

    .edit-repo {
      width: 100%;
      height: 40px;
      padding: 8px 8px 8px 4px;

      a {
        .icon {
          margin-left: 10px;
          font-size: 14px;
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}

/* Light theme -------------------------------------------------------------- */

.light-theme {
  #right-sidebar {
    .sidebar-container {
      @include media-min(xl) {
        background-color: $light-color-base-space;
      }
      a {
        .icon {
          fill: $light-color-primary;
        }
        &:hover {
          .icon {
            fill: $light-color-primary-lighter;
          }
        }
      }
    }
  }
}

/* Dark- theme -------------------------------------------------------------- */

.dark-theme {
  #right-sidebar {
    .sidebar-container {
      @include media-min(xl) {
        background-color: $dark-color-base-space;
      }
      a {
        .icon {
          fill: $dark-color-primary;
        }
        &:hover {
          .icon {
            fill: $dark-color-primary-lighter;
          }
        }
      }
    }
  }
}
