/* Body and layout background *************************************************/

.wy-body-for-nav {
    background: #edf0f2;
}

.wy-grid-for-nav {
    background: #fcfcfc;
}

/* Font family ****************************************************************/

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

/* Side menu color and background *********************************************/

/* Global (L1) background */
.wy-nav-side {
    background: #f0f0f0;
}

/* L1 hovered */
.wy-menu-vertical a:hover {
    background: #e3e3e3;
}

/* L1 text */
.wy-menu-vertical a {
    color: #404040;
}

/* Submenu text */
.wy-menu-vertical li.current a {
    color: #404040;
}

/* Side menu sizes ************************************************************/

.wy-menu-vertical a {
    line-height: 24px;
}

/* Center body ****************************************************************/

.wy-grid-for-nav {
    max-width: 1100px;
    margin: 0 auto;
    position: static;
}

.wy-nav-side {
    position: static;
    float: left;
}

@media screen and (max-width: 768px) {
    .wy-nav-side {
        position: fixed;
    }

    .wy-nav-side.shift {
        position: static;
    }
}

/* Hide version ***************************************************************/

.version {
    display: none;
}

/* Spaces between lines at blocks *********************************************/

.line-block {
    line-height: 24px;
}
