/* Body and layout background *************************************************/

.wy-body-for-nav {
    background: #edf0f2;
}

.wy-grid-for-nav {
    background: #fcfcfc;
}

.wy-nav-side {
    background: inherit;
}

/* Font family ****************************************************************/

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Side menu color and background *********************************************/

.wy-menu-vertical a {
    color: gray;
}

.wy-menu-vertical li.current {
    background: #edf0f2;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
    background: inherit;
}

.wy-menu-vertical li.toctree-l1.current > a {
    background: #2980B9;
    color: #fcfcfc;
}

.wy-menu-vertical li.toctree-l1.current > ul {
    border-left: solid thick #2980B9;
}

.wy-menu-vertical li.toctree-l1.current > a:hover {
    background: #2980B9;
}

.wy-menu-vertical li.current > a {
    border-right: solid 1px #c9c9c9;
    border-top: none;
    border-bottom: none;
}

.wy-menu-vertical li.toctree-l1 > a:hover {
    background: #c9c9c9;
}

.wy-menu-vertical li.toctree-l2.current > ul {
    border-left: solid thick #c9c9c9;
}

/* Side menu sizes ************************************************************/

.wy-menu-vertical a {
    line-height: 24px;
}

/* Link arrow for TOC entries *************************************************/

.wy-menu-vertical li.toctree-l1 > .reference.internal::before {
  content: "";
  font-family: "FontAwesome";
  float: right;
}

/* Center body ****************************************************************/

.wy-grid-for-nav {
    max-width: 1100px;
    margin: 0 auto;
    position: static;
}

.wy-nav-side {
    position: static;
    float: left;
}

@media screen and (max-width: 768px) {
    .wy-nav-side {
        position: fixed;
    }

    .wy-nav-side.shift {
        position: static;
    }
}

/* Hide version ***************************************************************/

.version {
    display: none;
}
