@font-face {
  font-family: 'wazuh-icons';
  src:  url('../../fonts/wazuh-icons.eot?eahygt');
  src:  url('../../fonts/wazuh-icons.eot?eahygt#iefix') format('embedded-opentype'),
    url('../../fonts/wazuh-icons.ttf?eahygt') format('truetype'),
    url('../../fonts/wazuh-icons.woff?eahygt') format('woff'),
    url('../../fonts/wazuh-icons.woff2') format('woff2'),
    url('../../fonts/wazuh-icons.svg?eahygt#wazuh-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wico-"], [class*=" wico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wazuh-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wico-clock:before {
  content: "\e926";
}
.wico-coffee:before {
  content: "\e927";
}
.wico-moving-up:before {
  content: "\e928";
}
.wico-docs:before {
  content: "\e920";
}
.wico-github:before {
  content: "\e921";
}
.wico-maillist:before {
  content: "\e922";
}
.wico-slack:before {
  content: "\e923";
}
.wico-team:before {
  content: "\e924";
}
.wico-training-hat:before {
  content: "\e925";
}
.wico-agent:before {
  content: "\e901";
}
.wico-analytic:before {
  content: "\e902";
}
.wico-aresponse:before {
  content: "\e903";
}
.wico-branch:before {
  content: "\e904";
}
.wico-cloud:before {
  content: "\e905";
}
.wico-compliance-full:before {
  content: "\e906";
}
.wico-compliance:before {
  content: "\e907";
}
.wico-config:before {
  content: "\e908";
}
.wico-deploy:before {
  content: "\e909";
}
.wico-fileint:before {
  content: "\e90a";
}
.wico-help-hands:before {
  content: "\e90b";
}
.wico-help:before {
  content: "\e90c";
}
.wico-incident-full:before {
  content: "\e90d";
}
.wico-incident:before {
  content: "\e90e";
}
.wico-integr:before {
  content: "\e90f";
}
.wico-intrusion-full:before {
  content: "\e910";
}
.wico-intrusion:before {
  content: "\e911";
}
.wico-log:before {
  content: "\e912";
}
.wico-logdata:before {
  content: "\e913";
}
.wico-manager:before {
  content: "\e914";
}
.wico-policy:before {
  content: "\e915";
}
.wico-saas:before {
  content: "\e916";
}
.wico-siem:before {
  content: "\e917";
}
.wico-start:before {
  content: "\e918";
}
.wico-support:before {
  content: "\e919";
}
.wico-training:before {
  content: "\e91a";
}
.wico-trojan:before {
  content: "\e91b";
}
.wico-vulne-full:before {
  content: "\e91c";
}
.wico-vulne:before {
  content: "\e91d";
}
.wico-wazuh:before {
  content: "\e91e";
}
.wico-whitelist:before {
  content: "\e91f";
}
.wico-docker:before {
  content: "\e900";
}
