/* -----------------------------------------------------------------------------
  Defaults for content (inc)

  General complete style specifically required for the content, including
  lists, tables, etc. that is not necessarily need in all pages.
----------------------------------------------------------------------------- */

/* Fixes the anchor */
.section {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &::before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 1rem;
    margin-top: -1rem;
  }
}
