/* -----------------------------------------------------------------------------
  Variables (inc)
----------------------------------------------------------------------------- */

/* -- Device screens variables ---------------------------------------------------------------------------- */

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  wzh-xl: 1300px,
  xxl: 1600px,
) !default;

/* -- Color variables ------------------------------------------------------------------------------------ */

// Main colors - Light theme
$light-color-base-space: #fff !default;
$light-color-primary: #256bd1 !default;
$light-color-primary-alt: #1561D0 !default;
$light-color-primary-lighter: #3585f9 !default;
$light-color-border-details: #c1ccd9 !default; // search-box and navigation borders
$light-color-border-deeper: #b7c6d7 !default;
$light-color-sidebar-space: #f7f7f7 !default;
$light-color-footer: #000 !default;
$light-color-main-text-extra: #000 !default;
$light-color-main-text: #292929 !default;
$light-color-input-placeholder: #a6b5c8 !default;
$light-color-shaded-text: #545f73 !default; // header-links
$light-color-highlight-inline-text: #7c3db2 !default;
$light-color-highlight-background: #e2eefe !default;
$light-color-search-highlight-background: #FFE853 !default;
$light-color-table-border: #dce8f8 !default;
$light-color-table-alt-background: #f8fafd !default;
$light-color-code-block-background: #f4f6fa !default;
$light-color-code-block-border: #e2eefe !default;
$light-color-output-title-background: #fafcff !default;
$light-color-step-card-background: #fafcff !default;
$light-color-index-header-background: #fff !default;
$light-color-index-toc-background: #f8fafd !default;
$light-color-accent: #fedd0b !default;
$light-color-focus-shade: #657c97 !default;
$light-color-shadow: #000 !default;
$light-color-global-toc-highlight: #3585F9 !default;
$light-color-danger: #bd271e !default;
$light-color-danger-dark: #bd271e !default;
$light-color-warning: #ff7a2f !default;
$light-color-warning-dark: #b35621 !default;
$light-color-success: #207d82 !default;
$light-color-success-dark: #207d82 !default;
$light-color-admonition-background: #f9fcff !default;

// Code-blocks - Light theme
$light-color-code-default: #000 !default;
$light-color-code-keyword: #000 !default;
$light-color-code-comment: #80700a !default;
$light-color-code-number: #0e4a9f !default;
$light-color-code-string: #bd3d9c !default;
$light-color-code-function: #256bd1 !default;
$light-color-code-variable: #7c3db2 !default;

// Main colors - Dark theme
$dark-color-base-space: #2a2d34 !default;
$dark-color-primary: #499cfe !default;
$dark-color-primary-lighter: #6ca2f0 !default;
$dark-color-border-details: #c1ccd9 !default; // search-box and navigation borders
$dark-color-border-deeper: #e1e1e5 !default;
$dark-color-sidebar-space: #343741 !default;
$dark-color-footer: #000000 !default;
$dark-color-main-text: #fff !default;
$dark-color-input-placeholder: #a6b5c8 !default;
$dark-color-shaded-text: #9298ab !default; // header-links
$dark-color-shaded-text-lighter: #9a9fb1 !default; // header-links
$dark-color-highlight-inline-text: #ebd0fc !default;
$dark-color-highlight-background: #242424 !default;
$dark-color-search-highlight-background: #80700A !default;
$dark-color-table-border: #b7c6d7 !default;
$dark-color-code-block-background: #25252c !default;
$dark-color-code-block-border: transparent !default;
$dark-color-output-title-background: #191919 !default;
$dark-color-step-card-background: #1d2025 !default;
$dark-color-tab-background: #14161a !default;
$dark-color-index-header-background: #2B2D34 !default;
$dark-color-index-toc-background: #2a2d34 !default;
$dark-color-accent: #ffe853 !default;
$dark-color-focus-shade: #98a2b3 !default;
$dark-color-shadow: #000 !default;
$dark-color-global-toc-highlight: #dcebff !default;
$dark-color-danger: #f86b63 !default;
$dark-color-danger-dark: #f86b63 !default;
$dark-color-warning: #ff7a2f !default;
$dark-color-warning-dark: #b35621 !default;
$dark-color-success: #207d82 !default;
$dark-color-success-dark: #207d82 !default;
$dark-color-admonition-background: #242424 !default;
$dark-color-table-row-even: #28282a !default;
$dark-color-table-row-odd: #35333b !default;

// Code-blocks - Dark theme
$dark-color-code-default: #fff !default;
$dark-color-code-keyword: #fff !default;
$dark-color-code-comment: #ffe853 !default;
$dark-color-code-number: #6ca2f0 !default;
$dark-color-code-string: #f6b7f6 !default;
$dark-color-code-function: #499cfe !default;
$dark-color-code-variable: #b677dc !default;

// Others
$color-img-border: #f0f2f6 !default;
$color-steps-link-boxes: #c5c5c5 !default;
$color-subfooter-separator: #7a7a7a !default;

/* -- Theme elements fixed dimensions ------------------------------------------------------------------------------------ */

// Fixed dimensions
$index-header-height-xs: 160px !default;
$index-header-height-xl: 180px !default;
$index-icon-size: 60px !default;
$index-max-show-items: 3 !default;
$header-height-xs: 80px !default;
$header-height-xl: 80px !default;
$breadcrumbs-height-xs: 70px !default;
$breadcrumbs-height-xl: 60px !default;
$footer-height: 70px !default;
$left-sidebar-width: 385px !default;
$left-sidebar-width-narrow: 320px !default;
$right-sidebar-width: 290px !default;
$right-sidebar-width-narrow: 240px !default;
$left-redoc-sidebar-width: 294px !default;
$right-redoc-sidebar-width: 40% !default;
$redoc-header-height: 110px !default;
$rounded-corners: 10px !default;
$no-latest-notice-height-xl: 60px !default;
$secondary-mobile-bar: 54px !default;
$outer-container-xxl: 1600px !default;

/* -- Others ------------------------------------------------------------------------------------ */
$img-path: "../../images/" !default;
$ico-path: $img-path + "icons/" !default;
$max-toc-level: 6 !default;
